@charset "UTF-8";
/* Bourbon 4.0.2
 * http://bourbon.io
 * Copyright 2011–2014 thoughtbot, inc.
 * MIT License */
html,
body {
  height: 100%;
  width: 100%; }

body {
  background-color: white; }

a {
  color: #333333; }

.app-form {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 48px 12px;
  max-width: 700px; }
  @media only screen and (min-width: 480px) {
    .app-form {
      padding: 96px 24px; } }

.app-form__logo {
  display: block;
  max-width: 100%;
  max-height: 200px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px; }
  @media only screen and (min-width: 480px) {
    .app-form__logo {
      max-width: 75%;
      max-height: 260px; } }

.app-form__title {
  margin-bottom: 48px;
  text-rendering: optimizeLegibility;
  text-align: center; }
  @media only screen and (min-width: 480px) {
    .app-form__title {
      margin-bottom: 72px; } }

.app-form__title__headline {
  margin-bottom: 6px;
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 5px; }
  @media only screen and (min-width: 480px) {
    .app-form__title__headline {
      font-size: 18px; } }

.app-form__title__applyable {
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 5px;
  text-transform: uppercase; }
  @media only screen and (min-width: 480px) {
    .app-form__title__applyable {
      font-size: 26px; } }

.app-form__blueprints {
  list-style-type: none;
  padding: 0;
  margin: 0; }

.app-form__blueprints__item {
  margin-bottom: 48px; }
  .app-form__blueprints__item:last-child {
    margin-bottom: 0; }
  .app-form__blueprints__item.is-tight {
    margin-bottom: 24px; }
  @media only screen and (min-width: 480px) {
    .app-form__blueprints__item {
      margin-bottom: 72px; }
      .app-form__blueprints__item.is-tight {
        margin-bottom: 48px; } }

.app-form__note {
  position: relative;
  font-size: 14px;
  padding: 12px;
  padding-bottom: 0;
  line-height: 1.5; }
  .app-form__note.in-progress {
    font-style: italic; }
  .app-form__note.with-icon {
    padding-left: 56px; }
    .app-form__note.with-icon .icon {
      position: absolute;
      top: 12px;
      left: 12px;
      width: 42px;
      height: 42px;
      line-height: 32px;
      font-size: 42px; }
    .app-form__note.with-icon .icon-check-o-circle {
      color: #3eccbe; }
    .app-form__note.with-icon .icon-delete-o-circle {
      color: #db7070; }
  @media only screen and (min-width: 480px) {
    .app-form__note {
      font-size: 18px;
      padding: 18px; }
      .app-form__note.with-icon {
        padding-left: 84px; }
        .app-form__note.with-icon .icon {
          top: 18px;
          left: 18px;
          width: 64px;
          height: 64px;
          line-height: 48px;
          font-size: 64px; } }

.app-form__label {
  display: block;
  margin-bottom: 24px;
  font-size: 16px;
  font-weight: 500; }
  @media only screen and (min-width: 480px) {
    .app-form__label {
      margin-bottom: 32px;
      font-size: 18px; } }

.app-form__description {
  display: block;
  margin-top: -12px;
  margin-bottom: 24px;
  font-size: 14px;
  font-weight: 300; }
  @media only screen and (min-width: 480px) {
    .app-form__description {
      margin-top: -20px;
      margin-bottom: 32px;
      font-size: 16px; } }

.app-form__input {
  display: block;
  width: 100%;
  padding: 12px;
  font-size: 16px;
  outline: none;
  background-color: transparent;
  border-radius: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-left-width: 3px;
  resize: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  -webkit-transition: border-color 200ms ease-in-out;
  -moz-transition: border-color 200ms ease-in-out;
  transition: border-color 200ms ease-in-out; }
  .app-form__input:focus {
    border-left-color: #a6b0bb; }
  @media only screen and (min-width: 480px) {
    .app-form__input {
      padding: 18px;
      font-size: 18px; } }

.selector {
  display: block; }

textarea.app-form__input {
  height: 80px;
  line-height: 1.5; }
  @media only screen and (min-width: 480px) {
    textarea.app-form__input {
      height: 120px; } }

.app-form__submit {
  display: block;
  width: 100%;
  padding: 18px 24px;
  max-width: 320px;
  margin-top: 48px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0; }
