@charset "UTF-8";
/* Bourbon 4.0.2
 * http://bourbon.io
 * Copyright 2011–2014 thoughtbot, inc.
 * MIT License */
html {
  background-color: white; }
  html.bare {
    background-color: #eef0f2; }

body {
  position: relative;
  left: 0;
  -webkit-transition: left 250ms ease-in-out;
  -moz-transition: left 250ms ease-in-out;
  transition: left 250ms ease-in-out; }

.container {
  max-width: 960px;
  width: auto;
  padding-left: 24px;
  padding-right: 24px;
  margin-left: auto;
  margin-right: auto; }
  .container.is-full {
    max-width: none; }
    @media only screen and (min-width: 480px) {
      .container.is-full {
        padding-left: 48px;
        padding-right: 48px; } }

/* Header */
.header, .header--base {
  padding: 24px 0; }
  .header.is-flush, .is-flush.header--base {
    padding-bottom: 0; }

.header--base {
  background-color: #374249; }
  .header--base .nav__link {
    color: rgba(255, 255, 255, 0.7); }
    .header--base .nav__link:hover {
      color: white; }
  @media only screen and (min-width: 480px) {
    .header--base .nav__item.is-emphasized .nav__link {
      border-color: rgba(255, 255, 255, 0.125); } }

/* Hamburger */
.hamburger {
  position: absolute;
  top: 0;
  right: 0;
  padding: 24px;
  margin-top: -5px;
  font-size: 28px;
  text-decoration: none;
  color: #374249; }
  @media only screen and (min-width: 480px) {
    .hamburger {
      display: none; } }

.header--base .hamburger {
  color: white; }

.nav--is-open body {
  left: -70%; }

/* Nav */
.nav {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 100%;
  width: 70%;
  background-color: #374249;
  box-shadow: inset 2px -2px 10px rgba(0, 0, 0, 0.2); }
  @media only screen and (min-width: 480px) {
    .nav {
      box-shadow: none;
      position: static;
      top: auto;
      bottom: auto;
      left: auto;
      width: auto;
      margin-top: 4px;
      float: right;
      background-color: transparent; } }

.nav__list {
  list-style-type: none;
  margin: 0;
  padding: 0; }

.nav__item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15); }
  @media only screen and (min-width: 480px) {
    .nav__item {
      border-bottom: 0;
      float: left;
      margin-left: 24px; }
      .nav__item:first-child {
        margin-left: 0; }
      .nav__item.is-emphasized {
        margin-left: 36px; }
        .nav__item.is-emphasized .nav__link {
          padding: 12px;
          margin-top: -12px;
          border: 2px solid #eef0f2; } }

.nav__link {
  display: block;
  padding: 24px;
  font-size: 14px;
  color: white;
  text-decoration: none; }
  @media only screen and (min-width: 480px) {
    .nav__link {
      display: inline;
      color: #333333;
      padding: 0; } }

/* Footer */
.wrap {
  min-height: 100%;
  margin-bottom: -45px; }

.wrap:after {
  content: "";
  display: block; }

.footer,
.wrap:after {
  height: 45px; }

/* Footer */
.footer {
  font-size: 12px;
  line-height: 45px;
  color: rgba(255, 255, 255, 0.5); }

.footer__top {
  background-color: #46545d; }

.footer__lead {
  padding: 48px 0;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  line-height: 1.4;
  color: rgba(255, 255, 255, 0.5); }
  .footer__lead a {
    display: inline-block;
    padding: 8px 18px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    text-decoration: none;
    color: rgba(255, 255, 255, 0.75); }
  @media only screen and (min-width: 480px) {
    .footer__lead {
      font-size: 22px; } }

.footer__lead__contact {
  margin-top: 12px; }
  @media only screen and (min-width: 480px) {
    .footer__lead__contact {
      display: inline-block;
      margin-top: 0;
      margin-left: 12px; } }

.footer__bottom {
  background-color: #374249; }

.footer__nav {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center; }
  @media only screen and (min-width: 480px) {
    .footer__nav {
      float: left;
      text-align: left; } }

.footer__nav__item {
  display: inline-block;
  margin-left: 12px; }
  .footer__nav__item:first-child {
    margin-left: 0; }

.footer__nav__link {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none; }

.footer__copyright {
  text-align: center; }
  @media only screen and (min-width: 480px) {
    .footer__copyright {
      float: right; } }

/* Logo */
.logo__link {
  float: left; }

.logo {
  display: block;
  width: 150.8px;
  height: 24px; }
  @media only screen and (min-width: 480px) {
    .logo {
      width: 167.55556px;
      height: 26.66667px; } }

/* Sections */
.section {
  padding: 48px 0; }
  .section .lead, .section .lead--big {
    color: #374249; }
  .section.is-gray {
    background-color: #eef0f2; }
  .section.is-base {
    background-color: #374249;
    color: white; }
    .section.is-base .lead, .section.is-base .lead--big {
      color: white; }
  .section.is-big {
    padding: 72px 0; }
    @media only screen and (min-width: 480px) {
      .section.is-big {
        padding: 120px 0; } }

/* Leads (big text) */
.lead, .lead--big {
  margin: 0;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.25;
  text-align: center;
  text-rendering: optimizeLegibility; }
  @media only screen and (min-width: 480px) {
    .lead, .lead--big {
      font-size: 24px; } }

.lead--big {
  font-size: 30px;
  letter-spacing: 2px;
  text-transform: uppercase; }
  @media only screen and (min-width: 480px) {
    .lead--big {
      font-size: 42px;
      letter-spacing: 5px; } }

.subline {
  margin-top: 12px;
  font-size: 18px;
  text-align: center; }

/* Highlights */
.text-highlight {
  border-bottom: 4px solid rgba(255, 255, 255, 0.125); }

.login {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: left; }

.login__errors {
  list-style-type: none;
  margin: 0;
  margin-bottom: 24px;
  padding: 0; }

.login__errors__item {
  font-size: 16px;
  color: #700; }

.login__logo {
  display: inline-block;
  margin-bottom: 24px; }
  .login__logo img {
    display: block;
    width: 150.8px;
    height: 24px; }

.login__fields {
  list-style-type: none;
  margin: 0;
  padding: 0; }

.login__field {
  border-bottom: 1px solid #eef0f2; }
  .login__field:last-child {
    border-bottom: 0; }
  .login__field input {
    margin: 0;
    padding: 16px 24px;
    max-width: 456px;
    font-size: 16px;
    font-weight: 300;
    color: #333333;
    outline: none;
    border: 0;
    border-left: 4px solid transparent;
    -webkit-transition: border-color 200ms ease-in-out;
    -moz-transition: border-color 200ms ease-in-out;
    transition: border-color 200ms ease-in-out; }
    .login__field input:focus {
      border-left-color: #f2bc36; }
    @media only screen and (min-width: 480px) {
      .login__field input {
        padding-top: 48px; } }

.login__tray {
  list-style-type: none;
  padding: 0;
  margin: 0; }

.login__tray__item {
  margin-bottom: 24px; }
  .login__tray__item:last-child {
    margin-bottom: 0; }
  .login__tray__item a {
    color: #2daa9e;
    text-decoration: none;
    font-weight: 400; }
    .login__tray__item a:hover {
      color: #228278; }

.login__submit {
  padding: 16px 28px;
  text-align: left;
  border-radius: 0;
  width: 100%; }

.register-lead {
  margin-bottom: 48px; }
  @media only screen and (min-width: 480px) {
    .register-lead {
      margin-bottom: 96px; } }

.register-lead--big {
  margin: 24px 0; }
  @media only screen and (min-width: 480px) {
    .register-lead--big {
      margin: 48px 0; } }

.register-btn {
  display: block;
  margin-top: 48px;
  padding-left: 24px;
  padding-right: 24px;
  margin-left: auto;
  margin-right: auto; }
  @media only screen and (min-width: 480px) {
    .register-btn {
      margin-top: 96px;
      padding-left: 48px;
      padding-right: 48px; } }

.register__fields-wrap {
  text-align: center; }

.register__fields {
  text-align: left;
  list-style-type: none;
  padding: 0;
  margin: 0;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto; }

.register__fields__item {
  margin-bottom: 36px; }
  .register__fields__item:last-child {
    margin-bottom: 0; }
  @media only screen and (min-width: 480px) {
    .register__fields__item {
      margin-bottom: 48px; } }

.register__fields__input {
  display: block;
  width: 100%;
  max-width: 500px;
  padding: 8px 12px;
  font-size: 18px;
  font-weight: 300;
  color: #333333;
  outline: none;
  border: 0;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  -webkit-transition: border-color 200ms ease-in-out;
  -moz-transition: border-color 200ms ease-in-out;
  transition: border-color 200ms ease-in-out; }
  .register__fields__input:focus {
    border-bottom-color: #f2bc36; }
  @media only screen and (min-width: 480px) {
    .register__fields__input {
      padding: 12px 18px;
      font-size: 20px; } }

.register__fields__logo-label {
  display: inline-block;
  vertical-align: middle;
  padding: 12px;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  color: #aaa;
  width: 100%; }
  @media only screen and (min-width: 480px) {
    .register__fields__logo-label {
      font-size: 20px;
      width: 170px;
      text-align: left; } }

.register__fields__logo-input {
  display: inline-block;
  vertical-align: middle;
  text-align: center; }
  .register__fields__logo-input .attachment__choose {
    margin-left: 0; }
  @media only screen and (min-width: 480px) {
    .register__fields__logo-input {
      text-align: left; }
      .register__fields__logo-input .attachment__choose {
        margin-left: 12px; } }

.register__submitted {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background-color: white; }

.register__submitted__wrapper {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 720px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center; }

.register__submitted__app-link {
  margin: 60px 0;
  padding: 18px;
  font-size: 20px;
  border: 3px solid #eef0f2; }

.home__top-section {
  position: relative;
  overflow: hidden; }

.home__pitch {
  max-width: 480px;
  padding: 24px 0; }
  @media only screen and (min-width: 480px) {
    .home__pitch {
      padding: 48px 0; } }

.home__headline {
  margin: 0;
  margin-bottom: 12px;
  font-size: 30px;
  font-weight: 300;
  text-align: center;
  line-height: 1.25; }
  @media only screen and (min-width: 480px) {
    .home__headline {
      font-size: 30px;
      text-align: left; } }

.home__subline {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  text-align: center;
  color: rgba(255, 255, 255, 0.5); }
  @media only screen and (min-width: 480px) {
    .home__subline {
      font-size: 18px;
      text-align: left; } }

.home__actions {
  margin-top: 24px; }

.home__btn--start {
  padding-left: 0;
  padding-right: 0;
  width: 100%; }
  @media only screen and (min-width: 480px) {
    .home__btn--start {
      padding-left: 24px;
      padding-right: 24px; } }

.home__screen {
  display: none;
  position: absolute;
  top: 36px;
  left: 50%;
  left: calc(50% + 48px);
  width: 620px;
  margin-left: 0;
  margin-right: 0; }
  .home__screen img {
    display: block;
    width: 100%;
    height: auto; }
  @media only screen and (min-width: 480px) {
    .home__screen {
      display: block; } }

.home__features {
  list-style-type: none;
  padding: 0;
  margin: -24px;
  font-size: 0; }

.home__features__item {
  display: inline-block;
  vertical-align: top;
  padding: 24px;
  padding-top: 0;
  text-align: center; }
  @media only screen and (min-width: 480px) {
    .home__features__item {
      width: 33.33333%; } }

.home__features__icon {
  color: #f2bc36;
  font-size: 64px;
  padding: 24px; }

.home__features__title {
  margin-bottom: 24px;
  font-size: 18px;
  font-weight: 500;
  color: #374249; }

.home__features__description {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5; }
