@charset "UTF-8";
/* Bourbon 4.0.2
 * http://bourbon.io
 * Copyright 2011–2014 thoughtbot, inc.
 * MIT License */
html {
  background-color: white; }

.container {
  max-width: 960px;
  width: auto;
  padding-left: 24px;
  padding-right: 24px;
  margin-left: auto;
  margin-right: auto; }

.header {
  padding: 24px 0; }

/* Logo */
.logo__link {
  float: left; }

.logo {
  display: block;
  width: 167.55556px;
  height: 26.66667px; }

/* Nav */
@media only screen and (min-width: 480px) {
  .nav {
    margin-top: 4px;
    float: right; } }

.nav__list {
  list-style-type: none;
  margin: 0;
  padding: 0; }

@media only screen and (min-width: 480px) {
  .nav__item {
    float: left;
    margin-left: 24px; }
    .nav__item:first-child {
      margin-left: 0; }
    .nav__item.is-emphasized .nav__link {
      padding: 12px;
      margin-top: -12px;
      border: 2px solid #eef0f2; } }

.nav__link {
  font-size: 14px;
  color: #333333;
  text-decoration: none; }

/* Sections */
.section {
  padding: 48px 0; }
  .section.is-gray {
    background-color: #eef0f2; }
