@charset "UTF-8";
/* Bourbon 4.0.2
 * http://bourbon.io
 * Copyright 2011–2014 thoughtbot, inc.
 * MIT License */
html {
  background-color: white; }

h1 {
  margin: 0;
  padding: 0;
  font-size: 32px;
  font-weight: 300;
  letter-spacing: -1px;
  color: #374249;
  text-rendering: optimizeLegibility;
  margin-bottom: 48px;
  border-bottom: 0 solid #eef0f2; }

h2 {
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: 300;
  color: #374249;
  text-transform: none;
  text-rendering: optimizeLegibility; }

h1, h2, h3, h4 {
  margin-top: 3em;
  margin-bottom: 1.5em; }

/* Basic Grid */
.unit, .unit--1of2, .unit--1of3, .unit--2of3, .unit--1of4, .unit--3of4, .unit--1of5, .unit--2of5, .unit--3of5, .unit--4of5, .unit--1of6, .unit--5of6, .unit--1of7, .unit--2of7, .unit--3of7, .unit--4of7, .unit--5of7, .unit--6of7, .unit--1of8, .unit--3of8, .unit--5of8, .unit--7of8, .unit--1of10, .unit--3of10, .unit--7of10, .unit--9of10, .unit--1of12, .unit--3of12, .unit--5of12, .unit--7of12, .unit--11of12, .unit--1of14, .unit--3of14, .unit--5of14, .unit--9of14, .unit--11of14, .unit--13of14 {
  content: ''; }

.unit--1of2 {
  width: 50%; }

.unit--1of3 {
  width: 33.33333%; }

.unit--2of3 {
  width: 66.66667%; }

.unit--1of4 {
  width: 25%; }

.unit--3of4 {
  width: 75%; }

.unit--1of5 {
  width: 20%; }

.unit--2of5 {
  width: 40%; }

.unit--3of5 {
  width: 60%; }

.unit--4of5 {
  width: 80%; }

.unit--1of6 {
  width: 16.66667%; }

.unit--5of6 {
  width: 83.33333%; }

.unit--1of7 {
  width: 14.28571%; }

.unit--2of7 {
  width: 28.57143%; }

.unit--3of7 {
  width: 42.85714%; }

.unit--4of7 {
  width: 57.14286%; }

.unit--5of7 {
  width: 71.42857%; }

.unit--6of7 {
  width: 85.71429%; }

.unit--1of8 {
  width: 12.5%; }

.unit--3of8 {
  width: 37.5%; }

.unit--5of8 {
  width: 62.5%; }

.unit--7of8 {
  width: 87.5%; }

.unit--1of10 {
  width: 10%; }

.unit--3of10 {
  width: 30%; }

.unit--7of10 {
  width: 70%; }

.unit--9of10 {
  width: 90%; }

.unit--1of12 {
  width: 8.33333%; }

.unit--3of12 {
  width: 25%; }

.unit--5of12 {
  width: 41.66667%; }

.unit--7of12 {
  width: 58.33333%; }

.unit--11of12 {
  width: 91.66667%; }

.unit--1of14 {
  width: 7.14286%; }

.unit--3of14 {
  width: 21.42857%; }

.unit--5of14 {
  width: 35.71429%; }

.unit--9of14 {
  width: 64.28571%; }

.unit--11of14 {
  width: 78.57143%; }

.unit--13of14 {
  width: 92.85714%; }

/* Avatar */
.avatar {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 100%; }

/* Flash */
.flash {
  position: fixed;
  top: 78px;
  right: 24px;
  display: inline-block;
  max-width: 420px;
  padding: 18px 24px;
  background-color: rgba(62, 204, 190, 0.25);
  border-radius: 5px; }

/* Tags */
.tag, .tag--success {
  display: inline-block;
  padding: 12px 24px;
  font-size: 16px;
  text-decoration: none;
  color: #333333;
  border-radius: 24px;
  border: 2px solid rgba(0, 0, 0, 0.075); }

.tag--success {
  border-color: #3eccbe; }

a.tag, a.tag--success {
  -webkit-transition: border-color 200ms ease-in-out;
  -moz-transition: border-color 200ms ease-in-out;
  transition: border-color 200ms ease-in-out; }
  a.tag:hover, a.tag--success:hover {
    border-color: rgba(0, 0, 0, 0.15); }

/* Settings Inputs */
.settings-inputs__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 0; }

.settings-inputs__item {
  margin-top: 36px; }
  .settings-inputs__item:first-child {
    margin-top: 0; }

.settings-inputs__tray {
  margin-top: 48px;
  padding-left: 200px; }

.settings-inputs__label {
  display: inline-block;
  vertical-align: top;
  padding: 15px 0;
  font-size: 16px;
  width: 200px; }

.settings-inputs__field {
  display: inline-block; }

.settings-inputs__note {
  font-size: 14px;
  padding: 12px 22px;
  max-width: 353px;
  line-height: 1.4; }

input,
select,
textarea {
  margin: 0;
  padding: 12px 18px;
  font-size: 16px;
  line-height: 1.4;
  outline: none;
  border: 4px solid rgba(0, 0, 0, 0.075);
  border-radius: 5px;
  background-color: white;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  -webkit-transition: border-color 200ms ease-in-out;
  -moz-transition: border-color 200ms ease-in-out;
  transition: border-color 200ms ease-in-out; }
  input:focus,
  select:focus,
  textarea:focus {
    border-color: rgba(0, 0, 0, 0.15); }

select {
  padding-right: 48px; }

.selector {
  display: inline-block;
  position: relative;
  background-color: white; }
  .selector:after {
    content: '';
    position: absolute;
    top: 50%;
    margin-top: -6px;
    right: 22px;
    width: 12px;
    height: 12px;
    opacity: .25;
    background-image: url("/img/select.arrow.black.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat; }

/* Attachment */
.attachment {
  display: inline-block; }

.attachment__box {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 140px;
  height: 140px;
  padding: 6px;
  text-align: center;
  background-color: #fcfdfd;
  border: 4px dashed #eef0f2;
  border-radius: 5px; }
  .attachment__box img {
    display: block;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
    height: auto;
    border-radius: 3px; }

.attachment__empty {
  display: inline-block;
  margin-top: -4px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 96px;
  opacity: .1; }

.attachment__choose {
  margin-left: 24px; }

.attachment__file {
  opacity: 0;
  width: 1px; }

@media only screen and (min-width: 480px) {
  .header,
  .mark {
    height: 54px; } }

.header {
  font-size: 0;
  background-color: #374249; }

.mark {
  display: inline-block;
  vertical-align: middle;
  width: 94px;
  text-align: center;
  background-color: #f2bc36;
  -webkit-transition: background-color 200ms ease-in-out;
  -moz-transition: background-color 200ms ease-in-out;
  transition: background-color 200ms ease-in-out; }
  .mark:hover {
    background-color: #f4c44e; }

.mark__img,
.mark__helper {
  display: inline-block;
  vertical-align: middle; }

.mark__helper {
  height: 100%; }

.mark__img {
  width: 22px;
  height: auto; }

/* Nav */
.nav {
  display: inline-block;
  vertical-align: middle;
  margin-left: 48px; }

.nav__list {
  list-style-type: none;
  padding: 0;
  margin: 0; }

@media only screen and (min-width: 480px) {
  .nav__item {
    float: left;
    margin-left: 48px; }
    .nav__item:first-child {
      margin-left: 0; }
    .nav__item.is-active .nav__link {
      border-bottom: 1px solid #f2bc36; } }

.nav__link {
  padding: 4px 0;
  font-size: 14px;
  color: white;
  text-decoration: none; }

/* Account */
.account {
  display: inline-block; }
  @media only screen and (min-width: 480px) {
    .account {
      margin-top: 7px;
      float: right; } }

.account__context {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: 10px 12px;
  padding-right: 34px;
  cursor: pointer;
  font-size: 14px;
  color: white;
  border: 0;
  border-radius: 3px;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

.account .selector {
  background-color: rgba(255, 255, 255, 0.1);
  margin-right: 24px;
  border-radius: 3px;
  cursor: pointer;
  -webkit-transition: background-color 200ms ease-in-out;
  -moz-transition: background-color 200ms ease-in-out;
  transition: background-color 200ms ease-in-out; }
  .account .selector:hover {
    background-color: rgba(255, 255, 255, 0.2); }
  .account .selector:after {
    content: '';
    position: absolute;
    top: 50%;
    margin-top: -5px;
    right: 12px;
    width: 10px;
    height: 10px;
    opacity: .3;
    background-image: url("/img/select.arrow.white.png"); }

.account__avatar,
.account__settings-list {
  display: inline-block;
  vertical-align: middle; }

.account__avatar {
  width: 32px;
  height: 32px;
  border-radius: 100%; }

.account__settings-list {
  padding: 0 12px;
  list-style-type: none;
  margin: 0; }

@media only screen and (min-width: 480px) {
  .account__settings-item {
    float: left; } }

.account__settings-link {
  padding: 12px;
  font-size: 20px;
  text-decoration: none;
  color: white;
  opacity: .5;
  -webkit-transition: opacity 200ms ease-in-out;
  -moz-transition: opacity 200ms ease-in-out;
  transition: opacity 200ms ease-in-out; }
  .account__settings-link:hover {
    opacity: 1; }

.main {
  position: absolute;
  top: 54px;
  bottom: 0;
  left: 0;
  right: 0; }

.main-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 60px;
  overflow: auto; }
  @media only screen and (min-width: 480px) {
    .main-container.with-sidebar {
      margin-left: 260px; } }

.top-header {
  margin-top: 0; }

.header-action {
  margin-top: -5px; }
  @media only screen and (min-width: 480px) {
    .header-action {
      float: right; } }

/* Sidebar Menu */
.sidebar-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #eef0f2; }
  @media only screen and (min-width: 480px) {
    .sidebar-menu {
      float: left;
      width: 260px; } }

.sidebar-menu__link {
  display: block;
  padding: 24px;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  color: #374249;
  -webkit-transition: background-color 200ms ease-in-out;
  -moz-transition: background-color 200ms ease-in-out;
  transition: background-color 200ms ease-in-out; }

.sidebar-menu__item.is-active .sidebar-menu__link,
.sidebar-menu__link:hover {
  background-color: #e0e3e7; }

.sidebar-menu__item .icon {
  font-size: 20px;
  margin-right: 12px; }

/* Slats */
.slats {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 0; }

.slats__item {
  border: 0 solid rgba(0, 0, 0, 0.075);
  border-bottom-width: 2px;
  padding: 36px 0; }
  .slats__item:first-child {
    border-top-width: 2px; }

.slats__units {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 0; }
  .slats__units.is-right {
    text-align: right; }

.slats__units__item {
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  margin-left: 24px; }
  .slats__units__item:first-child {
    margin-left: 0; }

.slats__main {
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  width: 66.66667%; }

.slats__item__header {
  display: inline-block;
  margin-bottom: 6px;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  color: #333333; }

a.slats__item__header {
  color: #3eccbe;
  -webkit-transition: color 200ms ease-in-out;
  -moz-transition: color 200ms ease-in-out;
  transition: color 200ms ease-in-out; }
  a.slats__item__header:hover {
    color: #2daa9e; }

.slats__actions {
  display: inline-block;
  text-align: right;
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 33.33333%;
  font-size: 0; }

.slats__actions__item {
  display: inline-block;
  vertical-align: middle;
  margin-left: 6px; }
  .slats__actions__item:first-child {
    margin-left: 0; }

/* Edit Box */
.edit-box {
  position: relative; }
  .edit-box.is-editing .edit-box__label {
    display: none; }
  .edit-box.is-editing .edit-box__input {
    display: inline-block; }

.edit-box__label,
.edit-box__input {
  padding: 8px;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.4; }

.edit-box__label {
  display: inline-block;
  position: relative;
  border: 4px solid transparent; }

.edit-box__input {
  display: none;
  position: relative; }

.edit-box__edit {
  display: inline-block;
  margin-left: 6px;
  width: 32px;
  height: 32px;
  font-size: 18px;
  text-align: center;
  line-height: 32px;
  text-decoration: none;
  color: #333333;
  border-radius: 100%;
  background-color: transparent;
  opacity: .5;
  -webkit-transition: background-color 200ms ease-in-out, opacity 200ms ease-in-out;
  -moz-transition: background-color 200ms ease-in-out, opacity 200ms ease-in-out;
  transition: background-color 200ms ease-in-out, opacity 200ms ease-in-out; }
  .edit-box__edit:hover {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.075); }

/* Color Swatch */
.color-swatch {
  display: inline-block; }

.color-swatch__color {
  display: inline-block;
  vertical-align: middle;
  margin-right: 0;
  width: 44px;
  height: 44px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px; }

.color-swatch__input {
  display: inline-block;
  vertical-align: middle;
  padding: 7px 18px;
  border-left: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0; }

/* Selection Grid */
.selection-grid {
  list-style-type: none;
  margin: -12px;
  padding: 0; }

.selection-grid__item {
  display: inline-block;
  vertical-align: top;
  padding: 12px;
  width: 33.33333%; }
  .selection-grid__item.is-disabled .selection-grid__link {
    opacity: .4;
    cursor: default; }

.selection-grid__link {
  display: block;
  text-decoration: none;
  color: #333333;
  border: 1px solid #a6b0bb;
  box-shadow: 2px 2px 0 #eef0f2; }

.selection-grid__box {
  height: 84px;
  padding: 0 12px;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: left;
  border: 2px solid #eef0f2;
  -webkit-transition-property: border-color, background-color;
  -moz-transition-property: border-color, background-color;
  transition-property: border-color, background-color;
  -webkit-transition-duration: 200ms;
  -moz-transition-duration: 200ms;
  transition-duration: 200ms;
  -webkit-transition-timing-function: ease-in;
  -moz-transition-timing-function: ease-in;
  transition-timing-function: ease-in; }

.selection-grid__label {
  display: block;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%); }

.selection-grid__item:not(.is-set) .selection-grid__link:hover .selection-grid__box,
.selection-grid__item.is-set .selection-grid__box {
  border-color: #3eccbe; }

.selection-grid__item:not(.is-disabled) .selection-grid__link:active .selection-grid__box {
  background-color: #3eccbe;
  color: white; }

/* Toaster */
.toaster {
  margin: 48px 0;
  padding: 36px;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-radius: 5px;
  background-color: #eef0f2; }

/* New Prompt */
.new-prompt {
  margin: 48px 0;
  padding: 36px;
  border-radius: 4px;
  background-color: #eef0f2; }

.new-prompt__header {
  margin-bottom: 24px; }

.new-prompt__title {
  font-size: 18px;
  font-weight: 500; }

.new-prompt__description {
  margin-top: 12px;
  font-size: 16px; }

.new-prompt__actions {
  list-style-type: none;
  margin: 0;
  margin-top: 24px;
  padding: 0; }

.new-prompt__actions__item {
  display: inline-block;
  vertical-align: middle;
  margin-left: 12px; }
  .new-prompt__actions__item:first-child {
    margin-left: 0; }

/* Application Header Link */
.application-header-link {
  margin-top: -5px;
  float: right; }

.application {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  border: 4px solid #eef0f2; }

/* Applicant Section */
.application__applicant {
  position: relative;
  padding: 48px;
  font-size: 0; }

.application__applicant__avatar {
  display: inline-block;
  vertical-align: middle;
  width: 160px;
  height: 160px; }

.application__applicant__info {
  display: inline-block;
  vertical-align: middle;
  margin-left: 24px;
  font-size: 16px; }

.application__applicant__name {
  margin: 0;
  margin-bottom: 18px;
  font-size: 22px;
  font-weight: 500; }

.application__applicant__location {
  margin-bottom: 12px; }
  .application__applicant__location .icon {
    margin-right: 4px;
    font-size: 20px;
    opacity: .5; }

.application__applicant__contact {
  list-style-type: none;
  padding: 0;
  margin: 0; }

.application__applicant__contact__item {
  margin-bottom: 6px; }
  .application__applicant__contact__item:last-child {
    margin-bottom: 0; }

.application__applicant__rating {
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -48px;
  right: 48px;
  width: 96px;
  height: 96px;
  line-height: 84px;
  font-size: 28px;
  font-weight: 500;
  text-align: center;
  color: #3eccbe;
  border: 6px solid #eef0f2;
  border-radius: 100%; }

/* Actions Section */
.application__actions {
  padding: 24px 48px;
  background-color: #eef0f2; }

.application__actions__entity {
  display: inline-block;
  float: left;
  height: 38px;
  line-height: 38px; }

.application__actions__rating {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 0;
  float: right; }

.application__actions__rating__item {
  display: inline-block;
  font-size: 32px;
  color: #a6b0bb;
  cursor: pointer;
  -webkit-transition: color 200ms ease-in-out;
  -moz-transition: color 200ms ease-in-out;
  transition: color 200ms ease-in-out; }
  .application__actions__rating__item.is-active {
    color: #62707f; }
  .application__actions__rating__item.is-set {
    color: #3eccbe; }

/* Fields Section */
.application__fields {
  padding: 48px;
  margin: 0;
  list-style-type: none; }

.application__fields__item {
  display: block;
  margin-bottom: 48px; }
  .application__fields__item:last-child {
    margin-bottom: 0; }

.application__fields__label {
  margin-bottom: 24px;
  font-size: 18px;
  font-weight: 500; }
