<footer class="footer">
  <div class="footer__top">
    <div class="container">
      <div class="footer__lead">
        Have any questions? <a href="mailto:contact@applyance.com">Contact Us</a>
      </div>
    </div>
  </div>
  <div class="footer__bottom">
    <div class="container group">
      <ul class="footer__nav">
        <li class="footer__nav__item">
          <a class="footer__nav__link" href="/accounts/register">Register</a>
        </li>
        <li class="footer__nav__item">
          <a class="footer__nav__link" href="/accounts/login">Sign In</a>
        </li>
      </ul>
      <div class="footer__copyright">
        &copy; 2014 Applyance
      </div>
    </div>
  </div>
</footer>
