<header class="header<%= (defined?(modifier) ? "--#{modifier}" : "") %> <%= (defined?(is_flush) ? "is-flush" : "") %>">
  <div class="container group">
    <a href="/" target="_self" class="logo__link">
      <img src="/img/logo.<%= (defined?(logo) ? logo : "blue") %>.png" class="logo" />
    </a>
    <a href="#" class="hamburger" onclick="toggleClass(document.querySelectorAll('html')[0], 'nav--is-open'); return false;"><i class="icon icon-bars"></i></a>
    <nav class="nav">
      <ul class="nav__list group">
        <li class="nav__item is-emphasized">
          <a href="/accounts/register" target="_self" class="nav__link">Register</a>
        </li>
        <li class="nav__item">
          <a href="/accounts/login" target="_self" class="nav__link">Sign In</a>
        </li>
      </ul>
    </nav>
  </div>
</header>

<% content_for :scripts do %>
<script>
function toggleClass(el, className) {
  if (el.classList) {
    el.classList.toggle(className);
  } else {
    var classes = el.className.split(' ');
    var existingIndex = classes.indexOf(className);

    if (existingIndex >= 0)
      classes.splice(existingIndex, 1);
    else
      classes.push(className);

    el.className = classes.join(' ');
  }
}
</script>
<% end %>
