// Base
$app-bg-color: white;
$line-color: $color-gray;

$h1-color: $color-base;
$h2-color: $color-base;

// Header

$header-height: 54px;
$header-bg-color: $color-base;
$header-link-color: white;
$header-link-underline-color: $color-brand;

$mark-bg-color: $color-brand;
$_mark-ratio: (108/ 85);
$mark-width: 24px;
$mark-height: $mark-width / $_mark-ratio;
$mark-mobile-width: 28px;
$mark-mobile-height: $mark-mobile-width / $_mark-ratio;

// Nav

$mobile-nav-width: 240px;

// Sidebar

$sidebar-width: 260px;

// Settings

$settings-inputs-label-width: 200px;

// Toaster

$toaster-max-width: 900px;

// Application

$application-width: 800px;
$application-sidebar-width: 308px;

// Breakpoints

$mobile-nav-breakpoint: 768px + 1px;
$mobile-account-breakpoint: 1024px + 1px;

$mobile-settings-sidebar-breakpoint: 768px + 1px;

// Save buttons on the header line
$mobile-header-action-breakpoint: 480px;

$breakpoint-slats: 768px;

$breakpoint-settings-list: 660px;
