/* Grid */

@media only screen and (min-width : 768px) {

  .unit { content: ''; }
  .unit--1of2 { @extend .unit; width: percentage(1 / 2); }
  .unit--1of3 { @extend .unit; width: percentage(1 / 3); }
  .unit--2of3 { @extend .unit; width: percentage(2 / 3); }

  .unit--1of4 { @extend .unit; width: percentage(1 / 4); }
  .unit--3of4 { @extend .unit; width: percentage(3 / 4); }

  .unit--1of5 { @extend .unit; width: percentage(1 / 5); }
  .unit--2of5 { @extend .unit; width: percentage(2 / 5); }
  .unit--3of5 { @extend .unit; width: percentage(3 / 5); }
  .unit--4of5 { @extend .unit; width: percentage(4 / 5); }

  .unit--1of6 { @extend .unit; width: percentage(1 / 6); }
  .unit--5of6 { @extend .unit; width: percentage(5 / 6); }

  .unit--1of7 { @extend .unit; width: percentage(1 / 7); }
  .unit--2of7 { @extend .unit; width: percentage(2 / 7); }
  .unit--3of7 { @extend .unit; width: percentage(3 / 7); }
  .unit--4of7 { @extend .unit; width: percentage(4 / 7); }
  .unit--5of7 { @extend .unit; width: percentage(5 / 7); }
  .unit--6of7 { @extend .unit; width: percentage(6 / 7); }

  .unit--1of8 { @extend .unit; width: percentage(1 / 8); }
  .unit--3of8 { @extend .unit; width: percentage(3 / 8); }
  .unit--5of8 { @extend .unit; width: percentage(5 / 8); }
  .unit--7of8 { @extend .unit; width: percentage(7 / 8); }

  .unit--1of10 { @extend .unit; width: percentage(1 / 10); }
  .unit--3of10 { @extend .unit; width: percentage(3 / 10); }
  .unit--7of10 { @extend .unit; width: percentage(7 / 10); }
  .unit--9of10 { @extend .unit; width: percentage(9 / 10); }

  .unit--1of12 { @extend .unit; width: percentage(1 / 12); }
  .unit--3of12 { @extend .unit; width: percentage(3 / 12); }
  .unit--5of12 { @extend .unit; width: percentage(5 / 12); }
  .unit--7of12 { @extend .unit; width: percentage(7 / 12); }
  .unit--11of12 { @extend .unit; width: percentage(11 / 12); }

  .unit--1of14 { @extend .unit; width: percentage(1 / 14); }
  .unit--3of14 { @extend .unit; width: percentage(3 / 14); }
  .unit--5of14 { @extend .unit; width: percentage(5 / 14); }
  .unit--9of14 { @extend .unit; width: percentage(9 / 14); }
  .unit--11of14 { @extend .unit; width: percentage(11 / 14); }
  .unit--13of14 { @extend .unit; width: percentage(13 / 14); }

}
