.text-trim > * {
  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

/* Bold */

.b--500 {
  font-weight: 500;
}

/* Spacing */

.sp--top--small {
  margin-top: 4px;
}

/* Lists */

.li--block {
  list-style-type: none;
  padding-left: 0;
}
