.apply-spots {
  list-style-type: none;
  padding-left: 0;
}

.apply-spots__item {
  margin-bottom: 36px;
  &:last-child { margin-bottom: 0; }
}

.apply-spots__item__title {
  margin-bottom: 24px;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1px;
  text-rendering: optimizeLegibility;
  text-transform: uppercase;
  color: #aaa;
}

.apply-spot__content {
  width: calc(100% - #{$selection-check-size + 24px});
}

.apply-spot__name {
  font-size: 14px;
  font-weight: 500;
}

.apply-spot__description {
  margin-top: 12px;
  font-size: 12px;
  color: #999;
}
