.selection-list {
  list-style-type: none;
  padding-left: 0;
}

.selection-list__item {
  font-size: 0;
  border-style: solid;
  border-color: $color-gray;
  border-width: 0;
  border-bottom-width: 1px;
  &:first-child { border-top-width: 1px; }
}
.is-dark .selection-list__item {
  border-color: $color-apply-theme-dark-main-beta;
}

.selection-list__check {
  display: inline-block;
  vertical-align: middle;
  margin-right: 24px;
  .icon-wrap {
    position: relative;
    display: inline-block;
    width: $selection-check-size;
    height: $selection-check-size;
    border: 2px solid $color-gray-rgba;
    background-color: transparent;
    border-radius: 100%;
    @include transition-property(border-color, background-color);
  }
  .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    width: $selection-check-size - 12px;
    height: $selection-check-size - 12px;
    fill: transparent;
    @include transform(translate(-50%, -50%));
    @include transition-property(opacity, fill);
  }
}
.is-dark .selection-list__check .icon-wrap {
  border-color: lighten($color-apply-theme-dark-main-beta, 5%);
}

.selection-list__check .icon-wrap,
.selection-list__check .icon {
  @include transition-duration(100ms);
  @include transition-timing-function(ease-in-out);
}

.selection-list__item__container {
  display: block;
  font-size: 0;
  cursor: pointer;
  padding: 18px 24px;
  background-color: transparent;
  @include transition(background-color 200ms ease-in-out);

  > * {
    display: inline-block;
    vertical-align: middle;
  }
}
.selection-list.is-box .selection-list__item__container {
  display: inline-block;
}

.selection-list__item.is-selected .selection-list__check .icon-wrap,
.selection-list__item__container:hover .selection-list__check .icon-wrap {
  border-color: transparent;
}

.selection-list__item__container:hover .selection-list__check {
  .icon-wrap { background-color: rgba($color-success, .35); }
  .icon { fill: white; }
}

.selection-list__item.is-selected .selection-list__check {
  .icon-wrap { background-color: $color-success; }
  .icon { fill: white; }
}
.is-dark .selection-list__item.is-selected .selection-list__check {
  .icon { fill: $color-apply-theme-dark-main-alpha; }
}

.selection-list__content {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
}

.selection-list__box {
  display: inline-block;
  padding: 8px 12px;
  border: 1px solid darken($color-apply-theme-light-main-beta, 7%);
  border-radius: 3px;
  @include transition(border-color 200ms ease-in-out);
  &:hover {
    border-color: darken($color-apply-theme-light-main-beta, 17%);
  }
}
.is-dark .selection-list__box {
  border-color: lighten($color-apply-theme-dark-main-beta, 7%);
  &:hover {
    border-color: lighten($color-apply-theme-dark-main-beta, 17%);
  }
}

/* Compact */

.selection-list.is-compact {
  .selection-list__item {
    border-bottom-width: 0;
    &:first-child { border-top-width: 0; }
  }
  .selection-list__item__container {
    padding: 6px 0;
  }
  .selection-list__item {
    &:first-child .selection-list__item__container {
      padding-top: 0;
    }
    &:last-child .selection-list__item__container {
      padding-bottom: 0;
    }
  }
}

/* Boxed */

.selection-list.is-box .selection-list__check {
  margin-right: 12px;
}

/* Horizontal */

.selection-list.is-horizontal {
  margin: -6px;
  .selection-list__item {
    display: inline-block;
    vertical-align: top;
    padding: 6px;
  }
  .selection-list__item__container {
    padding: 0;
  }
}
