html {
  background-color: white;
  &.bare {
    background-color: $color-gray;
  }
}

/* Container */

.container {
  max-width: 960px;
  width: auto;
  padding-left: 24px;
  padding-right: 24px;
  margin-left: auto;
  margin-right: auto;
}

.container--full {
  @extend .container;
  max-width: none;
  @media only screen and (min-width : 480px) {
    padding-left: 48px;
    padding-right: 48px;
  }
}

.container--narrow {
  @extend .container;
  max-width: 768px;
}

/* Wrap */

.wrap {
  position: relative;
  left: 0;
  min-height: 100%;
  @include transition(left 250ms ease-in-out);
}

.wrap:after {
  content: "";
  display: block;
}

/* Logo */

.logo__link {
  float: left;
}

.logo {
  display: block;
  width: (377px / 2.5);
  height: (60px / 2.5);
  @media only screen and (min-width : 480px) {
    width: (377px / 2.25);
    height: (60px / 2.25);
  }
}

/* Sections */

.section {
  padding: 48px 0;
  .lead { color: $color-base; }
  &.is-gray {
    background-color: $color-gray;
  }
  &.is-base {
    background-color: $color-base;
    color: white;
    .lead { color: white; }
  }
  &.is-spaceless {
    padding: 0;
  }
  &.is-medium {
    @media only screen and (min-width : 480px) {
      padding: 96px;
    }
  }
  &.is-big {
    padding: 72px 0;
    @media only screen and (min-width : 480px) {
      padding: 120px 0;
    }
  }
}

/* Leads (big text) */

.lead {
  margin: 0;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.25;
  text-align: center;
  text-rendering: optimizeLegibility;
  @media only screen and (min-width : 480px) {
    font-size: 24px;
  }
}

.lead--big {
  @extend .lead;
  font-size: 30px;
  letter-spacing: 2px;
  text-transform: uppercase;
  @media only screen and (min-width : 480px) {
    font-size: 42px;
    letter-spacing: 5px;
  }
}

.subline {
  margin-top: 12px;
  font-size: 18px;
  text-align: center;
}

/* Highlights */

.text-highlight {
  border-bottom: 4px solid rgba(white, .125);
}

.text-highlight--dark {
  @extend .text-highlight;
  border-bottom-color: rgba(black, .125);
}

/* Helpers */

.a--center {
  text-align: center;
}

.a--left {
  text-align: left;
}

.d--inline-block {
  display: inline-block;
}
