<div class="field__label">
  {{ field.datum.definition.label }}
</div>
<div class="field__detail text-trim">

  <ul class="field__entries">
    <li class="field__entries__item"
        ng-repeat="entry in field.datum.detail.entries">
      <span>{{ entry.street1 }}</span>
      <span ng-if="entry.street2"><br />{{ entry.street2 }}</span>
      <br />
      <span>{{ entry.city }}</span>, <span>{{ entry.state }}</span> <span>{{ entry.postal_code }}</span> <span>{{ entry.country }}</span>
    </li>
  </ul>

</div>
