html {
  background-color: white;
  &.bare {
    background-color: $color-gray;
  }
}

.container {
  max-width: 960px;
  width: auto;
  padding-left: 24px;
  padding-right: 24px;
  margin-left: auto;
  margin-right: auto;
  &.is-full {
    max-width: none;
    @media only screen and (min-width : 480px) {
      padding-left: 48px;
      padding-right: 48px;
    }
  }
}

.header {
  padding: 24px 0;
}

.header--base {
  @extend .header;
  background-color: $color-base;
  .nav__link {
    color: white;
  }
}

/* Logo */

.logo__link {
  float: left;
}

.logo {
  display: block;
  width: (377px / 2.25);
  height: (60px / 2.25);
}

/* Nav */

.nav {
  @media only screen and (min-width : 480px) {
    margin-top: 4px;
    float: right;
  }
}

.nav__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav__item {
  @media only screen and (min-width : 480px) {
    float: left;
    margin-left: 24px;
    &:first-child { margin-left: 0; }
    &.is-emphasized {
      margin-left: 36px;
      .nav__link {
        padding: 12px;
        margin-top: -12px;
        border: 2px solid $color-gray;
      }
    }
  }
}

.nav__link {
  font-size: 14px;
  color: $color-text;
  text-decoration: none;
}

/* Sections */

.section {
  padding: 48px 0;
  .lead { color: $color-base; }
  &.is-gray {
    background-color: $color-gray;
  }
  &.is-base {
    background-color: $color-base;
    color: white;
    .lead { color: white; }
  }
  &.is-big {
    padding: 120px 0;
  }
}

/* Leads (big text) */

.lead {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.2;
  text-align: center;
  text-rendering: optimizeLegibility;
}

.lead--big {
  @extend .lead;
  font-size: 42px;
  letter-spacing: 5px;
  text-transform: uppercase;
}

/* Highlights */

.text-highlight {
  border-bottom: 4px solid rgba(white, .125);
}
