html {
  background-color: white;
  &.bare {
    background-color: $color-gray;
  }
}

.container {
  max-width: 960px;
  width: auto;
  padding-left: 24px;
  padding-right: 24px;
  margin-left: auto;
  margin-right: auto;
  &.is-full {
    max-width: none;
    @media only screen and (min-width : 480px) {
      padding-left: 48px;
      padding-right: 48px;
    }
  }
}

.header {
  padding: 24px 0;
}

.header--base {
  @extend .header;
  background-color: $color-base;
  .nav__link {
    color: rgba(white, .7);
    &:hover {
      color: white;
    }
  }
  .nav__item {
    @media only screen and (min-width : 480px) {
      &.is-emphasized {
        .nav__link {
          border-color: rgba(white, .125);
        }
      }
    }
  }
}

/* Footer */

.wrap {
  min-height: 100%;
  margin-bottom: -45px;
}

.wrap:after {
  content: "";
  display: block;
}

.footer,
.wrap:after {
  height: 45px;
}

/* Footer */

.footer {
  font-size: 12px;
  line-height: 45px;
  color: rgba(white, .5);
}

.footer__top {
  background-color: lighten($color-base, 7%);
}

.footer__lead {
  padding: 48px 0;
  font-size: 22px;
  font-weight: 300;
  text-align: center;
  line-height: 1.4;
  color: rgba(white, .5);
  a {
    margin-left: 12px;
    display: inline-block;
    padding: 8px 18px;
    border: 1px solid rgba(white, .125);
    text-decoration: none;
    color: rgba(white, .75);
  }
}

.footer__bottom {
  background-color: $color-base;
}

.footer__nav {
  float: left;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer__nav__item {
  display: inline-block;
  margin-left: 12px;
  &:first-child { margin-left: 0; }
}

.footer__nav__link {
  color: rgba(white, .5);
  text-decoration: none;
}

.footer__copyright {
  float: right;
}

/* Logo */

.logo__link {
  float: left;
}

.logo {
  display: block;
  width: (377px / 2.25);
  height: (60px / 2.25);
}

/* Nav */

.nav {
  @media only screen and (min-width : 480px) {
    margin-top: 4px;
    float: right;
  }
}

.nav__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav__item {
  @media only screen and (min-width : 480px) {
    float: left;
    margin-left: 24px;
    &:first-child { margin-left: 0; }
    &.is-emphasized {
      margin-left: 36px;
      .nav__link {
        padding: 12px;
        margin-top: -12px;
        border: 2px solid $color-gray;
      }
    }
  }
}

.nav__link {
  font-size: 14px;
  color: $color-text;
  text-decoration: none;
}

/* Sections */

.section {
  padding: 48px 0;
  .lead { color: $color-base; }
  &.is-gray {
    background-color: $color-gray;
  }
  &.is-base {
    background-color: $color-base;
    color: white;
    .lead { color: white; }
  }
  &.is-big {
    padding: 120px 0;
  }
}

/* Leads (big text) */

.lead {
  margin: 0;
  font-size: 24px;
  font-weight: 300;
  line-height: 1.2;
  text-align: center;
  text-rendering: optimizeLegibility;
}

.lead--big {
  @extend .lead;
  font-size: 42px;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.subline {
  margin-top: 12px;
  font-size: 18px;
  text-align: center;
}

/* Highlights */

.text-highlight {
  border-bottom: 4px solid rgba(white, .125);
}
