html {
  background-color: white;
  &.bare {
    background-color: $color-gray;
  }
}

.container {
  max-width: 960px;
  width: auto;
  padding-left: 24px;
  padding-right: 24px;
  margin-left: auto;
  margin-right: auto;
  &.is-full {
    max-width: none;
    @media only screen and (min-width : 480px) {
      padding-left: 48px;
      padding-right: 48px;
    }
  }
}

/* Header */

.header {
  padding: 24px 0;
  overflow: hidden;
  &.is-flush {
    @media only screen and (max-width : 480px) {
      padding-bottom: 0;
    }
  }
}

.header--base {
  @extend .header;
  background-color: $color-base;
  .nav__link {
    color: rgba(white, .7);
    &:hover {
      color: white;
    }
  }
  .nav__item {
    @media only screen and (min-width : 480px) {
      &.is-emphasized {
        .nav__link {
          border-color: rgba(white, .125);
        }
      }
    }
  }
}

/* Hamburger */

.hamburger {
  position: absolute;
  top: 0;
  right: 0;
  padding: 24px;
  margin-top: -5px;
  font-size: 28px;
  text-decoration: none;
  color: $color-base;
  @media only screen and (min-width : 480px) {
    display: none;
  }
}

.header--base .hamburger {
  color: white;
}

.nav--is-open .wrap {
  left: -70%;
  .nav {
    left: 30%;
  }
}

/* Nav */

.nav {
  position: fixed;
  top: 0;
  left: 100%;
  bottom: 0;
  width: 70%;
  background-color: $color-base;
  box-shadow: inset 2px -2px 10px rgba(black, .2);
  @include transition(left 250ms ease-in-out);
  @media only screen and (min-width : 480px) {
    box-shadow: none;
    position: static;
    top: auto;
    bottom: auto;
    left: auto;
    width: auto;
    margin-top: 4px;
    float: right;
    background-color: transparent;
  }
}

.nav__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav__item {
  border-bottom: 1px solid rgba(black, .15);
  @media only screen and (min-width : 480px) {
    border-bottom: 0;
    float: left;
    margin-left: 24px;
    &:first-child { margin-left: 0; }
    &.is-emphasized {
      margin-left: 36px;
      .nav__link {
        padding: 12px;
        margin-top: -12px;
        border: 2px solid $color-gray;
      }
    }
  }
}

.nav__link {
  display: block;
  padding: 24px;
  font-size: 14px;
  color: white;
  text-decoration: none;
  @media only screen and (min-width : 480px) {
    display: inline;
    color: $color-text;
    padding: 0;
  }
}

/* Footer */

.wrap {
  position: relative;
  left: 0;
  min-height: 100%;
  margin-bottom: -189px;
  @include transition(left 250ms ease-in-out);
}

.wrap:after {
  content: "";
  display: block;
}

.footer,
.wrap:after {
  height: 189px;
}

/* Footer */

.footer {
  position: relative;
  font-size: 12px;
  color: rgba(white, .5);
}

.footer__top {
  background-color: lighten($color-base, 7%);
}

.footer__lead {
  padding: 48px 0;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  line-height: 1.4;
  color: rgba(white, .5);
  a {
    display: inline-block;
    padding: 8px 18px;
    border: 1px solid rgba(white, .125);
    text-decoration: none;
    color: rgba(white, .75);
  }
  @media only screen and (min-width : 480px) {
    font-size: 22px;
  }
}

.footer__lead__contact {
  margin-top: 12px;
  @media only screen and (min-width : 480px) {
    display: inline-block;
    margin-top: 0;
    margin-left: 12px;
  }
}

.footer__bottom {
  line-height: 45px;
  background-color: $color-base;
}

.footer__nav {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
  @media only screen and (min-width : 480px) {
    float: left;
    text-align: left;
  }
}

.footer__nav__item {
  display: inline-block;
  margin-left: 12px;
  &:first-child { margin-left: 0; }
}

.footer__nav__link {
  color: rgba(white, .5);
  text-decoration: none;
}

.footer__copyright {
  text-align: center;
  @media only screen and (min-width : 480px) {
    float: right;
  }
}

/* Logo */

.logo__link {
  float: left;
}

.logo {
  display: block;
  width: (377px / 2.5);
  height: (60px / 2.5);
  @media only screen and (min-width : 480px) {
    width: (377px / 2.25);
    height: (60px / 2.25);
  }
}

/* Sections */

.section {
  padding: 48px 0;
  .lead { color: $color-base; }
  &.is-gray {
    background-color: $color-gray;
  }
  &.is-base {
    background-color: $color-base;
    color: white;
    .lead { color: white; }
  }
  &.is-big {
    padding: 72px 0;
    @media only screen and (min-width : 480px) {
      padding: 120px 0;
    }
  }
}

/* Leads (big text) */

.lead {
  margin: 0;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.25;
  text-align: center;
  text-rendering: optimizeLegibility;
  @media only screen and (min-width : 480px) {
    font-size: 24px;
  }
}

.lead--big {
  @extend .lead;
  font-size: 30px;
  letter-spacing: 2px;
  text-transform: uppercase;
  @media only screen and (min-width : 480px) {
    font-size: 42px;
    letter-spacing: 5px;
  }
}

.subline {
  margin-top: 12px;
  font-size: 18px;
  text-align: center;
}

/* Highlights */

.text-highlight {
  border-bottom: 4px solid rgba(white, .125);
}

.text-highlight--dark {
  @extend .text-highlight;
  border-bottom-color: rgba(black, .125);
}

/* Helpers */

.a--center {
  text-align: center;
}

.a--left {
  text-align: left;
}

.d--inline-block {
  display: inline-block;
}
