.register-lead {
  margin-bottom: 96px;
}

.register-btn {
  display: block;
  margin-top: 96px;
  // border-radius: 0;
  // padding: 12px 48px;
  padding-left: 48px;
  padding-right: 48px;
  margin-left: auto;
  margin-right: auto;
}

.register__fields-wrap {
  text-align: center;
}

.register__fields {
  text-align: left;
  list-style-type: none;
  padding: 0;
  margin: 0;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.register__fields__item {
  margin-bottom: 48px;
  &:last-child { margin-bottom: 0; }
}

.register__fields__input {
  display: block;
  width: 100%;
  max-width: 500px;
  padding: 12px 18px;
  font-size: 22px;
  font-weight: 300;

  outline: none;
  border: 0;
  border-bottom: 2px solid rgba(black, .1);
  background-color: transparent;

  @include transition(border-color 200ms ease-in-out);

  &:focus {
    border-bottom-color: rgba($color-brand, .5);
  }
}

.register__fields__logo-label {
  display: inline-block;
  vertical-align: middle;
  padding: 18px;
  font-size: 22px;
  font-weight: 300;
  color: #aaa;
  width: 170px;
}

.register__fields__logo-input {
  display: inline-block;
  vertical-align: middle;
}
