<div class="blueprint__header">
  <span class="blueprint__header__number">{{ (blueprint._index + 1) }}.</span>
  <div class="blueprint__header__question">
    <label class="blueprint__label" for="definition[{{ blueprint.definition.id }}]">
      {{ blueprint.definition.label | blueprintText:blueprint }}
    </label>
    <div class="blueprint__description"
        ng-if="blueprint.definition.description">
      {{ blueprint.definition.description | blueprintText:blueprint }}
    </div>
  </div>
</div>
