<div class="blueprint__header">
  <span class="blueprint__header__number">{{ (blueprint._index + 1) }}.</span>
  <div class="blueprint__header__question">
    <label class="blueprint__label" for="blueprint[{{ blueprint.id }}]">
      {{ blueprint.definition.label | blueprintText:blueprint }}
    </label>
    <div class="blueprint__description text-trim"
        ng-if="blueprint.definition.description"
        ng-class="{ 'is-small is-detached':blueprint.definition.type == 'legal' }"
        ng-bind-html="blueprint.definition.description | blueprintText:blueprint | nl2p | aplUnsafe"></div>
  </div>
</div>
