<ng-include src="'/views/directives/blueprints/_standard-label.html'"></ng-include>

<ul class="blueprint__entries">
  <li class="blueprint__entry"
      ng-repeat="entry in blueprint.datum.detail.entries track by $index"
      ng-class="{ 'is-valid':entry._valid }">

    <ul class="blueprint__field-rows">
      <li class="blueprint__field-row">
        <ul class="blueprint__field-cols">
          <li class="blueprint__field-col">
            <input
                type="text" id="blueprint[{{ blueprint.id }}]"
                class="blueprint__input"
                value="{{ entry.name }}"
                ng-model=" entry.name"
                placeholder="Name">
          </li>
        </ul>
      </li>
      <li class="blueprint__field-row">
        <ul class="blueprint__field-cols">
          <li class="blueprint__field-col unit--1of2">
            <input
                type="text"
                class="blueprint__input"
                value="{{ entry.relation }}"
                ng-model="entry.relation"
                placeholder="Relation">
          </li>
          <li class="blueprint__field-col unit--1of2">
            <input
                type="text"
                class="blueprint__input"
                value="{{ entry.phone_number }}"
                ng-model="entry.phone_number"
                apl-blueprint-mask-phonenumber
                apl-attach-inputmask="entry" apl-attach-inputmask-as="_$mask_phone_number"
                placeholder="Phone">
          </li>
        </ul>
      </li>
    </ul>

    <a href="" class="blueprint__entry__remove" tabindex="-1"
        ng-if="BF.repeatable && blueprint.datum.detail.entries.length > 1"
        ng-click="BF.removeEntry(entry)">
      <svg class="icon">
        <use xlink:href="#remove-item" />
      </svg>
    </a>
  </li>
</ul>

<div class="blueprint__entry__tray"
  ng-if="BF.repeatable">
  <a href="" class="btn is-mini is-round" tabindex="-1"
    ng-click="BF.addEntry()">+ Add Entry</a>
</div>
