<!DOCTYPE html>
<html>
  <head>
    <title>Applyance</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="/img/favicon.png">

    <base href="/">
    <link rel="stylesheet" type="text/css" href="//cloud.typography.com/7222252/709524/css/fonts.css" />
    <link rel="stylesheet" type="text/css" href="/styles/css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="/styles/css/base.css" />
    <link rel="stylesheet" type="text/css" href="/styles/css/app.css" />
  </head>
  <body ng-app="ApplyanceApp">

    <header class="header" ng-controller="HeaderCtrl">
      <a href="{{ context.group }}/{{ context.id }}/applications" class="mark">
        <span class="mark__helper"></span>
        <img src="/img/mark.blue.png" class="mark__img">
      </a>
      <nav class="nav">
        <ul class="nav__list group">
          <li class="nav__item"
              ng-class="{ active:isActive('/' + context.group + '/' + context.id + '/applications') }">
            <a href="{{ context.group }}/{{ context.id }}/applications"
               class="nav__link">Applications</a>
          </li>
          <li class="nav__item"
              ng-class="{ active:isActive('/' + context.group + '/' + context.id + '/settings') }">
            <a href="{{ context.group }}/{{ context.id }}/settings"
               class="nav__link">Settings</a>
          </li>
        <ul>
      </nav>
      <div class="account" ng-controller="AccountCtrl">
        <select ng-model="activeContextOption"
                ng-options="contextOption.name for contextOption in contextOptions"
                ng-change="updateContextSelect()"></select>
        <img src="{{ getAvatarURL() }}" class="account__avatar" />
        <ul class="account__settings-list">
          <!--
          <li class="account__settings-item">
            <a href="/accounts/{{ me.account.id }}/settings" target="_self" class="account__settings-link" title="Account Settings">
              <i class="icon-settings"></i>
            </a>
          </li>
          -->
          <li class="account__settings-item">
            <a href="/accounts/logout" target="_self" class="account__settings-link" title="Sign Out">
              <i class="icon-logout"></i>
            </a>
          </li>
        </ul>
      </div>
    </header>

    <main class="main">
      <%= yield %>
    </main>

    <script type='text/javascript'>
      var apiHost = "<%= @api_host %>";
      var apiKey = "<%= @api_key %>";
    </script>

    <script type="text/javascript" src="/scripts/ext/angular/angular.min.js"></script>
    <script type="text/javascript" src="/scripts/ext/angular-route/angular-route.min.js"></script>
    <script type="text/javascript" src="/scripts/ext/underscore/underscore.js"></script>
    <script type="text/javascript" src="/scripts/ext/restangular/dist/restangular.min.js"></script>
    <script type="text/javascript" src="/scripts/ext/moment/min/moment.min.js"></script>
    <script type="text/javascript" src="/scripts/ext/angular-moment/angular-moment.min.js"></script>
    <script type="text/javascript" src="/scripts/ext/cryptojslib/rollups/md5.js"></script>

    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/directives.js"></script>

    <script type="text/javascript" src="/scripts/services/api.js"></script>
    <script type="text/javascript" src="/scripts/services/me.js"></script>
    <script type="text/javascript" src="/scripts/services/context.js"></script>

    <script type="text/javascript" src="/scripts/controllers/header/header.js"></script>
    <script type="text/javascript" src="/scripts/controllers/header/account.js"></script>

    <script type="text/javascript" src="/scripts/controllers/applications.js"></script>
    <script type="text/javascript" src="/scripts/controllers/application.js"></script>
    <script type="text/javascript" src="/scripts/controllers/settings.js"></script>

    <script type="text/javascript" src="/scripts/controllers/entities/blueprints.js"></script>
    <script type="text/javascript" src="/scripts/controllers/entities/units.js"></script>
    <script type="text/javascript" src="/scripts/controllers/entities/admins.js"></script>
    <script type="text/javascript" src="/scripts/controllers/entities/invites.js"></script>
    <script type="text/javascript" src="/scripts/controllers/entities/settings.js"></script>

    <script type="text/javascript" src="/scripts/controllers/units/settings.js"></script>
    <script type="text/javascript" src="/scripts/controllers/units/blueprints.js"></script>
    <script type="text/javascript" src="/scripts/controllers/units/invites.js"></script>
    <script type="text/javascript" src="/scripts/controllers/units/reviewers.js"></script>
    <script type="text/javascript" src="/scripts/controllers/units/labels.js"></script>

  </body>
</html>
