<!DOCTYPE html>
<html>
  <head>
    <title>Applyance</title>
  </head>
  <body>

    <% if session[:api_key] == nil %>
      <a href="/accounts/register">Register</a>
      <a href="/accounts/login">login</a>
    <% else %>
      <a href="/accounts/logout">logout</a>
    <% end %>

    <div>
      <%= yield %>
    </div>

  </body>
</html>
