<!DOCTYPE html>
<html>
  <head>
    <title>Applyance</title>
  </head>
  <body>
    <a href="/">
      <img alt="home" src="/img/chicken.png" width="100" />
    </a>
    <div>
      <%= yield %>
    </div>
  </body>
</html>
