<!DOCTYPE html>
<html>
  <head>
    <title>Applyance</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="/img/favicon.png">

    <link rel="stylesheet" type="text/css" href="//cloud.typography.com/7222252/709524/css/fonts.css" />
    <link rel="stylesheet" type="text/css" href="/styles/css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="/styles/css/base.css" />
    <link rel="stylesheet" type="text/css" href="/styles/css/public.css" />
  </head>
  <body>

    <div class="wrap">
      <header class="header--base">
        <div class="container group">
          <a href="/" target="_self" class="logo__link">
            <img src="/img/logo.white.png" class="logo" />
          </a>
          <nav class="nav">
            <ul class="nav__list group">
              <li class="nav__item is-emphasized">
                <a href="/accounts/register" target="_self" class="nav__link">Register</a>
              </li>
              <li class="nav__item">
                <a href="/accounts/login" target="_self" class="nav__link">Sign In</a>
              </li>
            </ul>
          </nav>
        </div>
      </header>
      <main class="main">
        <%= yield %>
      </main>
    </div>
    <%= erb :'shared/_footer' %>

  </body>
</html>
