<img ng-if="entity.logo" src="{{ entity.logo.url }}" width="300" />
<h1>Apply to {{ entity.name }}</h1>

<form name="apply" ng-submit="onSubmit()">
  <ul>
    <li>
      <label>Email</label>
      <input type="email" ng-model="applicant.email" value="{{ applicant.email }}" ng-debounce="350" ng-change="checkEmail()">
    </li>
    <li ng-if="promptPassword">
      <label>Password</label>
      <input type="password" ng-model="applicant.password" ng-change="authenticate()" ng-debounce="1000">
    </li>
    <li ng-if="promptName">
      <label>Name</label>
      <input type="text" ng-model="applicant.name" value="{{ applicant.name }}">
    </li>
  </ul>
  <ul>
    <li ng-repeat="blueprint in blueprints">
      <label for="blueprint[{{ blueprint.id }}]">
        {{ blueprint.definition.label }}
      </label>
      <div>
        <textarea id="blueprint[{{ blueprint.id }}]" ng-model="blueprint.detail.value">{{ blueprint.detail.value }}</textarea>
      </div>
    </li>
  </ul>

  <button type="submit">Apply</button>
</form>
