<div class="apply-container">
  <div class="apply-entity">
    <img class="apply-entity__logo" ng-if="entity.logo.url" ng-src="{{ entity.logo ? entity.logo.url : null }}" />
    <div class="apply-entity__name">
      <div class="apply-entity__name__entity">{{ entity.name }}</div>
      <div class="apply-entity__name__preface">Application Form</div>
    </div>
  </div>
  <div class="apply-submit">
    <div class="apply-submit__progress">
      <ul class="apply-submit__progress__list">
        <li class="apply-submit__progress__list__item"
            ng-repeat="blueprint in blueprints"
            ng-class="{ 'is-complete':(blueprint._valid && !blueprint._empty), 'is-required':blueprint.is_required }">
          <span class="dot"></span>
        </li>
      </ul>
    </div>
    <a href="" class="btn is-round is-mini apply-submit__btn"
        ng-class="{ 'is-disabled':(!form.valid || form.submitting) }"
        ng-disabled="!form.valid || form.submitting"
        ng-click="submit()">
      Submit
    </a>
  </div>
</div>
