.main-container--application {
  @extend .main-container;
  text-align: center;
  padding: 0;
  @include transition(margin-left 350ms ease-in-out);
  @media only screen and (min-width : 768px) {
    padding: 48px;
  }
  @media only screen and (min-width : 1024px) {
    padding: 60px;
  }
}

.application-container {
  display: inline-block;
  width: 100%;
  max-width: 1120px;
  font-size: 0;
  text-align: left;
}

.application__sidebar,
.application {
  font-size: 16px;
}

.application {
  width: 100%;
  max-width: $application-width;
  margin-left: auto;
  margin-right: auto;
  border: 0;
  border-radius: 5px;

  @media only screen and (min-width : 768px) {
    border: 4px solid $color-gray;
  }
}

/* Sidebar */

.application__sidebar-wrap {
  float: right;
  padding-left: 60px;
}

.application__sidebar {
  width: $application-sidebar-width;
}

.application__sidebar__sections {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.application__sidebar__sections__item {
  margin-bottom: 48px;
  &:last-child { margin-bottom: 0; }
}

.application__sidebar__sections__item.is-enclosed {
  border-radius: 5px;
  border: 4px solid $color-gray;
}

.application__sidebar__sections__title {
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-rendering: optimizeLegibility;
  color: #aaa;
  margin-bottom: 24px;
}

.application__sidebar__sections__item.is-enclosed .application__sidebar__sections__title {
  padding: 12px 18px;
  background-color: $color-gray;
}

.application__sidebar__labels {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-bottom: 24px;
}

.application__sidebar__labels__item {
  position: relative;
  font-size: 0;
  padding: 0;
  margin-bottom: 18px;
  &:last-child { margin-bottom: 0; }
  .icon {
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -14px;
    right: 0;
    font-size: 26px;
    color: red;
    opacity: .25;
    @include transition(opacity 200ms ease-in-out);
  }
  &:hover .icon {
    opacity: .5;
  }
  .icon:hover {
    opacity: 1;
  }
}

.application__sidebar__assign-labels {
  position: relative;
}

.application__sidebar__assign-labels__popup {
  position: absolute;
  top: 100%;
  top: calc(100% + 12px);
  left: -110px;
  width: 220px;
  text-align: left;

  &:before {
    content: '';
    position: absolute;
    top: -16px;
    left: calc(50% + 5px);
    width: 0;
    height: 0;

    border-top: 8px solid transparent;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid white;
  }

  @media only screen and (min-width : 768px) {
    left: -12px;
    width: 260px;
    &:before {
      left: 17px;
    }
  }

}

.application__sidebar__assign-labels__list {
  max-height: 240px;
  overflow-y: auto;

  list-style-type: none;
  padding: 0;
  margin: 0;

  border-radius: 5px;
  background-color: white;
  box-shadow: 1px 1px 5px rgba(black, .1);
}

.application__sidebar__assign-labels__item {
  border-bottom: 1px solid $color-gray;
  &:last-child { border-bottom: 0; }
}

.application__sidebar__assign-labels__link {
  display: block;
  padding: 14px 18px;

  font-size: 0;
  text-decoration: none;

  color: $color-text;

  @include transition(background-color 200ms ease-in-out);

  &:hover .label-ring {
    @include transform(scale(1.25));
  }

  .icon {
    font-size: 16px;
  }
}

.application__sidebar__assign-labels__link,
.application__sidebar__labels__item {
  .name {
    display: inline-block;
    vertical-align: middle;
    margin-top: 2px;
    margin-left: 12px;
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    width: calc(100% - 49px);
  }
}

/* Application Sidebar Applications */

.application__sidebar__applications {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.application__sidebar__applications__item {
  margin-bottom: 24px;
  &:last-child { margin-bottom: 0; }
  .submitted-at {
    margin-top: 6px;
    font-style: italic;
    font-size: 14px;
  }
}

.application__sidebar__applications__title {
  font-weight: 500;
  margin-bottom: 12px;
}

.application__sidebar__applyables {
  list-style-type: none;
  padding: 0;
}

/* Applicant Section */

.application__applicant {
  position: relative;
  padding: 36px;
  font-size: 0;
  text-align: center;

  @media only screen and (min-width : 768px) {
    padding: 48px;
    text-align: left;
  }
}

.application__applicant__avatar {
  display: block;
  text-align: center;
  margin-bottom: 24px;

  @media only screen and (min-width : 768px) {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 0;
  }

  img {
    display: inline-block;
    width: 112px;
    height: 112px;

    @media only screen and (min-width : 768px) {
      width: 160px;
      height: 160px;
    }
  }
}

.application__applicant__info {
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  text-align: left;

  @media only screen and (min-width : 768px) {
    margin-left: 24px;
  }
}

.application__applicant__name {
  margin: 0;
  margin-bottom: 18px;
  font-size: 20px;
  font-weight: 500;
  color: $color-base;

  @media only screen and (min-width : 768px) {
    font-size: 22px;
  }
}

.application__applicant__contact {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.application__applicant__contact__item {
  margin-bottom: 8px;
  &:last-child { margin-bottom: 0; }
  .icon {
    position: relative;
    top: 1px;
    margin-right: 12px;
    font-size: 18px;
    opacity: 1;
    color: $color-brand;
  }
}

.application__applicant__rating {
  display: block;

  position: absolute;
  top: 50%;
  margin-top: -48px;
  right: 48px;

  width: 96px;
  height: 96px;
  line-height: 96px - 12px;

  font-size: 28px;
  font-weight: 500;
  text-align: center;

  color: $color-accent;
  border: 6px solid $color-gray;
  border-radius: 100%;

  @media only screen and (max-width : 767px) {
    top: 24px;
    left: calc(50% + 24px);
    margin-top: 0;
    background-color: $color-gray;
    border: 0;
    font-size: 18px;
    width: 48px;
    height: 48px;
    line-height: 50px;
  }
}

/* Applied To Section */

.application-profile__applied-to {
  padding: 18px (36px - 4px);

  font-weight: 300;
  line-height: 1.4;
  text-align: center;

  color: white;
  background-color: $color-base;

  @media only screen and (min-width : 768px) {
    padding: 18px (48px - 4px);
    margin-left: -4px;
    margin-right: -4px;
  }
}

/* Actions Section */

.application__actions {
  padding: 30px 36px;
  font-size: 0;
  list-style-type: none;
  margin: 0;
  background-color: $color-gray;

  @media only screen and (min-width : 768px) {
    padding: 30px 48px;
  }

  .left,
  .right {
    text-align: center;
  }

  .left {
    @media only screen and (min-width : 768px) {
      text-align: left;
    }
  }

  .right {
    margin-top: 12px;
    @media only screen and (min-width : 768px) {
      margin-top: 0;
      text-align: right;
    }
  }
}

.application__actions__btn {
  position: relative;

  display: inline-block;
  vertical-align: middle;
  height: 38px;
  line-height: 38px;
  min-width: 38px;
  margin-left: 18px;

  font-size: 16px;
  text-decoration: none;
  text-align: center;

  color: $color-text;
  border: 1px solid rgba(black, .2);
  border-radius: 19px;

  @include transition(border-color 200ms ease-in-out);

  .icon {
    position: relative;
    top: -2px;
    left: 1px;
    font-size: 26px;
    line-height: 38px;
    opacity: .75;

    @include transition(opacity 200ms ease-in-out);
  }

  &:hover {
    border-color: rgba(black, .4);
  }
}

.application__actions__btn--save-as-pdf {
  @extend .application__actions__btn;
  .icon--download {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -9px;
    margin-left: -9px;
    width: 18px;
    height: 18px;
    color: $color-base;
  }
}

.application__actions__entity {
  display: inline-block;
  float: left;
  height: 38px;
  line-height: 38px;
}

.application__actions__labels,
.application__actions__rating {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  @media only screen and (min-width : 768px) {
    text-align: left;
  }
}

/* Fields Section */

.application__fields {
  padding: 36px;
  margin: 0;
  list-style-type: none;

  @media only screen and (min-width : 768px) {
    padding: 48px;
  }
}

.application__fields__item {
  display: block;
  margin-bottom: 48px;
  &:last-child { margin-bottom: 0; }
}

.application__fields__label {
  margin-bottom: 24px;
  font-size: 18px;
  font-weight: 500;
}
