.display-grid--spot__actions__item__status {
  position: relative;
  font-size: 16px;
  padding-left: 10px + 6px;
  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -5px;
    left: 0;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: $color-accent;
  }
}

.display-grid--spot__actions__item__status--open {
  @extend .display-grid--spot__actions__item__status;
  &:before {
    background-color: $color-accent;
  }
}

.display-grid--spot__actions__item__status--paused {
  @extend .display-grid--spot__actions__item__status;
  &:before {
    background-color: $color-brand;
  }
}

.display-grid--spot__actions__item__status--closed {
  @extend .display-grid--spot__actions__item__status;
  &:before {
    background-color: $color-red;
  }
}

.display-grid--spot__content--applications {
  display: block;
  padding: 12px 24px;
  padding-top: 12px + 4px;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;

  color: $color-text;
  background-color: $color-gray;
  text-align: center;
  @include transition(background-color 200ms ease-in-out);
  .count {
    font-weight: 500;
  }
  .label {
    margin-left: 12px;
    letter-spacing: 1px;
    color: rgba(black, .5);
  }
  &:hover {
    background-color: darken($color-gray, 5%);
  }
}
