<div class="main-container">
  <h1 class="top-header">
    Account Settings
    <a class="header-action btn--primary" ng-class="{ 'is-disabled':isUpdating }" ng-disabled="isUpdating" ng-click="updateAccount()">{{ isUpdating ? 'Saving' : 'Save' }}</a>
  </h1>

  <div class="settings-inputs">
    <ul class="settings-inputs__list">
      <li class="settings-inputs__item">
        <label class="settings-inputs__label">Name</label>
        <input type="text" ng-model="account.name" size="30">
      </li>
      <li class="settings-inputs__item">
        <label class="settings-inputs__label">Avatar</label>
        <div class="attachment">
          <div class="attachment__box">
            <i class="attachment__empty icon-photo"></i>
            <img ng-if="account.attachment" ng-src="{{ account.attachment.url }}" alt="avatar" />
          </div>
          <button class="btn attachment__choose" ng-click="clickChoose()">Choose</button>
          <input class="attachment__file" id="avatar" type="file" fileread="account" accepts="image/*">
        </div>
      </li>
      <li class="settings-inputs__item">
        <label class="settings-inputs__label">Email</label>
        <input type="email" ng-model="account.email" ng-change="checkForPasswordNeeded()" size="30">
      </li>
      <li class="settings-inputs__item">
        <label class="settings-inputs__label">Change Password</label>
        <input type="password" ng-model="account.newPassword" ng-change="checkForPasswordNeeded()" size="30">
      </li>
      <li ng-if="passwordNeeded" class="settings-inputs__item">
        <label class="settings-inputs__label">Verify Password</label>
        <div class="settings-inputs__field">
          <input type="password" ng-model="account.currentPassword" size="30">
          <div class="settings-inputs__note">
            With changes to sensitive data, we need you to verify your password.
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
