<h1 class="top-header">Settings</h1>

<div class="settings-inputs">
  <ul class="settings-inputs__list">
    <li class="settings-inputs__item">
      <label class="settings-inputs__label">Name</label>
      <input name="entityName" ng-model="entity.name" type="text" value="{{ entity.name }}" placeholder="Enter your company name here" size="30" />
    </li>
    <li class="settings-inputs__item">
      <label class="settings-inputs__label">Logo</label>
      <div class="attachment">
        <div class="attachment__box">
          <i class="attachment__empty icon-photo"></i>
          <img ng-if="entity.attachment.url" src="{{ entity.attachment.url }}" alt="Entity logo" />
        </div>
        <button class="btn attachment__choose" ng-click="clickChoose()">Choose</button>
        <input class="attachment__file" id="logo" type="file" fileread="entity" accepts="image/*">
      </div>
    </li>
    <li class="settings-inputs__item">
      <label class="settings-inputs__label">Location</label>
      <textarea name="entityLocation" ng-model="address" ng-change="addressChange()" placeholder="Enter your address here" cols="30">{{ address }}</textarea>
    </li>
  </ul>
  <div class="settings-inputs__tray">
    <button class="btn--primary" ng-class="{ 'is-disabled':isUpdating }" ng-disabled="isUpdating" ng-click="startUpdateEntity()">{{ isUpdating ? 'Updating' : 'Update' }}</button>
  </div>
</div>
