<h1 class="group top-header">
  Units
  <a href="" class="header-action btn--primary" ng-click="addEntity()">Create Unit</a>
</h1>

<ul class="slats">
  <li class="slats__item" ng-repeat="entity in entities">
    <div class="slats__main">
      <div class="edit-box" ng-class="{ 'is-editing':isEditing(entity) }">
        <div class="edit-box__label">{{ entity.name }}</div>
        <input class="edit-box__input" type="text" ng-model="entity.name" value="{{ entity.name }}" size="{{ entity.name.length }}" focus-on="isEditingEntity-{{ entity.id }}" ng-blur="updateEntity(entity)">
        <a href="" class="edit-box__edit btn--secondary is-small" ng-click="triggerEdit(entity)">
          <i class="icon-pencil"></i>
        </a>
      </div>
    </div>
    <ul class="slats__actions">
      <li class="slats__actions__item">
        <a href="entities/{{ entity.id }}/settings" class="btn--secondary is-small">Edit</a>
      </li>
      <li class="slats__actions__item">
        <a href="" class="btn--tertiary is-small" ng-click="removeEntity(entity)">Remove</a>
      </li>
    </ul>
  </li>
</ul>
