<h1 class="top-header">
  Team
  <div class="header-action-wrap">
    <a href="" class="header-action btn--primary"
        ng-click="inviteReviewer()">Invite Member</a>
  </div>
</h1>

<div class="new-prompt" ng-if="inviting">
  <div class="new-prompt__header">
    <div class="new-prompt__title">
      Invite a team member to {{ getActiveEntityName() }}
    </div>
    <div class="new-prompt__description text-trim">
      <p>
        Allow other team members to administer {{ getActiveEntityName() }} or simply review applications. Type in the new member's email address and select their permission level below.
      </p>
    </div>
  </div>
  <div class="new-prompt__main">
    <input name="newInvite" ng-model="newInvite.email" value="{{ newInvite.email }}" type="text" placeholder="Email of new member" size="24">
    <div class="selector">
      <select ng-model="inviteScopes.selected"
          ng-options="scope.name | capitalize for scope in inviteScopes.list"></select>
    </div>
  </div>
  <ul class="new-prompt__actions">
    <li class="new-prompt__actions__item">
      <button class="btn--primary" ng-click="commitInvite()" ng-class="{ 'is-disabled':submittingInvite }" ng-disable="submittingInvite">Send Invite</button>
    </li>
    <li class="new-prompt__actions__item">
      <button class="btn" ng-click="closeNewPrompt()">Cancel</button>
    </li>
  </ul>
</div>

<div>
  <ul class="slats">
    <li class="slats__item" ng-repeat="reviewer in reviewers">
      <div class="slats__main">
        <div class="slats__item__header">{{ reviewer.account.name }}</div>
        <div>{{ reviewer.account.email }}</div>
      </div>
      <ul class="slats__actions">
        <li class="slats__actions__item">
          <a href="" class="btn--secondary is-small" ng-class="{ 'is-disabled': !isRevokable(reviewer) }" ng-disabled="!isRevokable(reviewer)" ng-click="revokeAccess(reviewer)">Revoke Access</a>
        </li>
      </ul>
    </li>
  </ul>
</div>

<div>
  <h2>
    Invitations Sent
  </h2>
  <ul class="slats">
    <li class="slats__item" ng-repeat="invite in invites">
      <div class="slats__main">
        <div class="slats__item__header">{{ invite.email }}</div>
        <div>Sent on {{ invite.created_at | aplMoment: 'MMMM Do YYYY, h:mm a' }}</div>
      </div>
      <ul class="slats__actions">
        <li class="slats__actions__item">
          <span ng-class="invite.status == 'claimed' ? 'tag--success' : 'tag'">
            {{ invite.status | capitalize }}
          </span>
        </li>
      </ul>
    </li>
  </ul>
</div>
