<h1 class="top-header">Questions</h1>

<div class="toaster">
  Select all questions you would like answered on an application to {{ e.name }}.
</div>

<ul class="selection-grid">
  <li class="selection-grid__item" ng-class="{ 'is-set':isSet(definition), 'is-disabled':isDefinitionDisabled(definition) }" ng-repeat="definition in definitions">
    <a class="selection-grid__link" href="" ng-click="toggle(definition)">
      <div class="selection-grid__box">
        <span class="selection-grid__label">
          {{ definition.label | blueprint:e }}
        </span>
      </div>
    </a>
  </li>
</ul>
