<h1 class="top-header">
  Labels
  <a href="" class="header-action btn--primary" ng-click="addLabel()">Create Label</a>
</h1>

<ul class="slats">
  <li class="slats__item" ng-repeat="label in labels">
    <div class="slats__main">
      <div class="edit-box" ng-class="{ 'is-editing':isEditing(label) }">
        <div class="edit-box__label">{{ label.name }}</div>
        <input class="edit-box__input" type="text" value="{{ label.name }}" size="{{ label.name.length }}"
            ng-model="label.name"
            focus-on="isEditingLabel-{{ label.id }}"
            ng-blur="updateLabel(label)" ng-keyup="($event.keyCode == 13) ? updateLabel(label) : null">
        <a href="" class="edit-box__edit" ng-click="triggerEdit(label)">
          <i class="icon-pencil"></i>
        </a>
      </div>
    </div>
    <ul class="slats__actions">
      <li class="slats__actions__item">
        <div class="color-swatch">
          <span class="color-swatch__color" style="background-color: #{{ label.color }};"></span>
          <input class="color-swatch__input" type="text" ng-model="label.color" size="6" value="{{ label.color }}" ng-blur="updateLabel(label)">
        </div>
      </li>
      <li class="slats__actions__item">
        <a href="" class="btn--secondary is-small"
            confirmed-click="removeLabel(label)" ng-confirm-click="Are you sure you want to delete {{ label.name }}?">Remove</a>
      </li>
    </ul>
  </li>
</ul>
