<h1 class="group top-header">
  Locations
  <a href="" class="header-action btn--primary" ng-click="addEntity()">Create Location</a>
</h1>

<div ng-switch on="entities.length">
  <div ng-switch-default>
    <ul class="slats">
      <li class="slats__item" ng-repeat="entity in entities">
        <div class="slats__main">
          <div class="edit-box" ng-class="{ 'is-editing':isEditing(entity) }">
            <div class="edit-box__label">{{ entity.name }}</div>
            <input class="edit-box__input" type="text" ng-model="entity.name" value="{{ entity.name }}" size="{{ entity.name.length }}" focus-on="isEditingEntity-{{ entity.id }}" ng-blur="updateEntity(entity)">
            <a href="" class="edit-box__edit" ng-click="triggerEdit(entity)">
              <i class="icon-pencil"></i>
            </a>
          </div>
        </div>
        <ul class="slats__actions">
          <li class="slats__actions__item">
            <a href="" class="btn is-small" ng-click="navToEntitySettings(entity.id)">Edit</a>
          </li>
          <li class="slats__actions__item">
            <a href="" class="btn--secondary is-small" ng-click="removeEntity(entity)">Remove</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <div ng-switch-when="0">
    <div class="toaster text-trim">
      <p>
        Are you a multi-location company? Use this page to add locations.
      </p>
    </div>
  </div>
</div>
