<form stripe-form="updateBilling">

  <h1 class="top-header">
    Billing
    <a class="header-action btn--primary" ng-class="{ 'is-disabled':isUpdating }" ng-disabled="isUpdating" ng-click="updateBilling()">{{ isUpdating ? 'Saving' : 'Save' }}</a>
    <button type="submit">submit button</button>
  </h1>

  <div class="toaster text-trim">
    <p>
      Note that we are a free service while in beta. Billing information is not required.
      <br />
      Payments are powered by <a href="https://stripe.com">Stripe</a>. Your information does not touch our servers.
    </p>
  </div>

  <div class="settings-inputs">
    <ul class="settings-inputs__list">
      <li class="settings-inputs__item">
        <label class="settings-inputs__label">Card Number</label>
        <input type="text"
               ng-model="number"
               payments-validate="card"
               payments-type-model="type"
               payments-format="card"
               placeholder="1234 5678 1234 5678">
      </li>
      <li class="settings-inputs__item">
        <label class="settings-inputs__label">Card Expiration</label>
        <input type="text"
               ng-model="expiry"
               payments-validate="expiry"
               payments-format="expiry"
               placeholder="MM / YY">
      </li>
      <li class="settings-inputs__item">
        <label class="settings-inputs__label">Card CVC</label>
        <input type="text"
               ng-model="cvc"
               payments-validate="cvc"
               payments-type-model="type"
               payments-format="cvc">
      </li>
    </ul>
  </div>

</form>
