<!DOCTYPE html>
<html>
  <head>
    <title>Applyance</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="/img/favicon.png">

    <base href="/">
    <link rel="stylesheet" type="text/css" href="//cloud.typography.com/7222252/709524/css/fonts.css" />
    <link rel="stylesheet" type="text/css" href="/styles/css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="/styles/css/base.css" />
    <link rel="stylesheet" type="text/css" href="/styles/css/review.css" />
  </head>
  <body
      ng-app="Review"
      ng-controller="AppCtrl"
      ng-class="{
        'is-flash-open':flashMessage,
        'with-sidebar':withSidebar,
        'is-menu-open':menuStates.main,
        'is-account-menu-open':menuStates.account,
        'is-context-menu-open':menuStates.context,
        'is-settings-menu-open':menuStates.settings
      }">

    <header class="header" ng-controller="HeaderCtrl">
      <span class="hamburger" ng-click="toggleResponsiveMenu('main');"><i class="icon icon-bars"></i></span>
      <a href="entities/{{ activeEntityId() }}/applications" class="mark"></a>
      <nav class="nav">
        <ul class="nav__list group">
          <li class="nav__item"
              ng-class="{ 'is-active':isActive('/entities/' + activeEntityId() + '/applications') }">
            <a href="entities/{{ activeEntityId() }}/applications"
               class="nav__link">Applicants</a>
          </li>
          <li class="nav__item"
              ng-class="{ 'is-active':isActive('/entities/' + activeEntityId() + '/spots') }">
            <a href="entities/{{ activeEntityId() }}/spots"
               class="nav__link">Spots</a>
          </li>
          <li class="nav__item"
              ng-class="{ 'is-active':inSettings }"
              ng-if="isAdmin()">
            <a href="entities/{{ activeEntityId() }}/settings"
               class="nav__link">Manage {{ activeEntity().parent ? 'Location' : 'Company' }}</a>
          </li>
        <ul>
      </nav>
      <div class="account" ng-controller="AccountCtrl">

        <context-switcher></context-switcher>

        <a href="" ng-click="toggleResponsiveMenu('account')" class="account__avatar" title="Account Avatar">
          <img ng-src="{{ getAvatarURL() }}" />
        </a>

        <ul class="account__settings-list">

          <li class="account__settings-item">
            <a href="/accounts/{{ accountId }}/settings" class="account__settings-link" title="Account Settings">
              <i class="icon icon-settings"></i>
              <span class="label">Account Settings</span>
            </a>
          </li>

          <li class="account__settings-item">
            <a href="/accounts/logout" target="_self" class="account__settings-link" title="Sign Out">
              <i class="icon icon-logout"></i>
              <span class="label">Sign Out</span>
            </a>
          </li>
        </ul>
      </div>
    </header>

    <div class="flash text-trim">
      <p>{{ flashMessage }}</p>
    </div>

    <div class="main-wrap">
      <main class="main" ng-view></main>
    </div>

    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <script>
        Stripe.setPublishableKey('<%= Applyance::Client.settings.stripe_publishable_key %>');
    </script>
    <script type="text/javascript" src="/scripts/review.js"></script>
    <script>
      var app = angular.module('Applyance');
      app.constant('me', <%= JSON.dump(@me) %>);
      app.constant('apiHost', '<%= @api_host %>');
      app.constant('apiKey', '<%= @api_key %>');
    </script>

  </body>
</html>
