/* Sidebar */

.application__sidebar-wrap {
  float: right;
  width: calc(100% - #{$application-width});
  padding-left: 60px;
}

.application__sidebar {
  border: 4px solid red;
  height: 400px;
}

.application {
  // float: left;
  max-width: $application-width;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  border: 4px solid $color-gray;
}

/* Applicant Section */

.application__applicant {
  position: relative;
  padding: 48px;
  font-size: 0;
}

.application__applicant__avatar {
  display: inline-block;
  vertical-align: middle;
  width: 160px;
  height: 160px;
}

.application__applicant__info {
  display: inline-block;
  vertical-align: middle;
  margin-left: 24px;
  font-size: 16px;
}

.application__applicant__name {
  margin: 0;
  margin-bottom: 18px;
  font-size: 22px;
  font-weight: 500;
}

.application__applicant__location {
  margin-bottom: 12px;
  .icon {
    margin-right: 4px;
    font-size: 20px;
    opacity: .5;
  }
}

.application__applicant__contact {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.application__applicant__contact__item {
  margin-bottom: 6px;
  &:last-child { margin-bottom: 0; }
}

.application__applicant__rating {
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -48px;
  right: 48px;

  width: 96px;
  height: 96px;
  line-height: 96px - 12px;

  font-size: 28px;
  font-weight: 500;
  text-align: center;

  color: $color-accent;
  border: 6px solid $color-gray;
  border-radius: 100%;
}

/* Actions Section */

.application__actions {
  padding: 24px 48px;
  background-color: $color-gray;
}

.application__actions__entity {
  display: inline-block;
  float: left;
  height: 38px;
  line-height: 38px;
}

.application__actions__rating {
  float: right;
}

/* Fields Section */

.application__fields {
  padding: 48px;
  margin: 0;
  list-style-type: none;
}

.application__fields__item {
  display: block;
  margin-bottom: 48px;
  &:last-child { margin-bottom: 0; }
}

.application__fields__label {
  margin-bottom: 24px;
  font-size: 18px;
  font-weight: 500;
}

.application__fields__detail {

}
