html {
  background-color: $app-bg-color;
}

h1 {
  margin: 0;
  padding: 0;
  font-size: 32px;
  font-weight: 300;
  letter-spacing: -1px;
  color: $h1-color;
  text-rendering: optimizeLegibility;
  margin-bottom: 48px;
  border-bottom: 0 solid $line-color;
}

h2 {
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: 300;
  color: $h2-color;
  text-transform: none;
  text-rendering: optimizeLegibility;
}

h1, h2, h3, h4 {
  margin-top: 3em;
  margin-bottom: 1.5em;
}

/* Flash */
.flash {
  position: fixed;
  top: $header-height + 24px;
  right: 24px;
  display: inline-block;
  max-width: 420px;
  padding: 18px 24px;
  background-color: rgba($color-accent, .125);
  border-radius: 5px;
}

/* Tags */

.tag {
  display: inline-block;
  padding: 12px 24px;

  font-size: 16px;

  border-radius: 24px;
  border: 2px solid $color-gray-rgba;
}

.tag--success {
  @extend .tag;
  border-color: $color-accent;
}

/* Lists */
