// Base
$app-bg-color: white;
$line-color: $color-gray;

$h1-color: $color-base;
$h2-color: $color-base;

// Header

$header-height: 54px;
$header-bg-color: $color-base;
$header-link-color: white;
$header-link-underline-color: $color-brand;

$mark-bg-color: $color-brand;

// Sidebar

$sidebar-width: 260px;
