// Base
$app-bg-color: white;
$line-color: $color-gray;

$h1-color: $color-base;
$h2-color: $color-base;

// Header

$header-height: 54px;
$header-bg-color: $color-base;
$header-link-color: white;
$header-link-underline-color: $color-brand;

$mark-bg-color: $color-brand;
$mark-width: 22px;

// Sidebar

$sidebar-width: 260px;


// Settings

$settings-inputs-label-width: 200px;

// Toaster

$toaster-max-width: 900px;

// Application

$application-width: 800px;
$application-sidebar-width: 308px;
