
/* Settings Inputs */

.settings-inputs__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 0;
}

.settings-inputs__item {
  margin-top: 36px;
  &:first-child { margin-top: 0; }
}

.settings-inputs__tray {
  margin-top: 48px;
  padding-left: $settings-inputs-label-width;
}

.settings-inputs__label {
  display: inline-block;
  vertical-align: top;
  padding: 15px 0;
  font-size: 16px;
  width: $settings-inputs-label-width;
}

.settings-inputs__field {
  display: inline-block;
}

.settings-inputs__note {
  font-size: 14px;
  padding: 12px 22px;
  max-width: 353px;
  line-height: 1.4;
}

input,
select,
textarea {
  margin: 0;
  padding: 12px 18px;

  font-size: 16px;
  line-height: 1.4;

  outline: none;
  border: 4px solid $color-gray-rgba;
  border-radius: 5px;
  background-color: white;

  @include appearance(none);
  @include transition(border-color 200ms ease-in-out);

  &:focus {
    border-color: rgba($color-gray-rgba, .15);
  }
}

select {
  padding-right: 18px + 12px + 18px;
}

.selector {
  display: inline-block;
  position: relative;
  background-color: white;
  &:after {
    content: '';
    position: absolute;
    top: 50%;
    margin-top: -6px;
    right: 18px + 4px;
    width: 12px;
    height: 12px;
    opacity: .25;

    background-image: url('/img/select.arrow.black.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
}

/* Attachment */

.attachment {
  display: inline-block;
}

.attachment__box {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 140px;
  height: 140px;
  padding: 6px;

  text-align: center;

  background-color: lighten($color-gray, 5%);
  border: 4px dashed $color-gray;
  border-radius: 5px;

  img {
    display: block;
    position: relative;
    top: 50%;
    @include transform(translateY(-50%));
    width: 100%;
    height: auto;

    border-radius: 3px;
  }
}

.attachment__empty {
  display: inline-block;
  margin-top: -4px;
  position: absolute;
  left: 50%;
  top: 50%;
  @include transform(translate(-50%, -50%));
  font-size: 96px;
  opacity: .1;
}

.attachment__choose {
  margin-left: 24px;
}

.attachment__file {
  opacity: 0;
  width: 1px;
}
