.header,
.mark {
  height: $header-height;
}

.header {
  font-size: 0;
  background-color: $header-bg-color;
}

.mark {
  display: inline-block;
  vertical-align: middle;
  width: $mark-mobile-width;
  text-align: center;

  background-image: url('/img/mark.gold.png');
  background-size: $mark-mobile-width;
  background-position: center;
  background-repeat: no-repeat;

  @media only screen and (min-width : $mobile-nav-breakpoint) {
    width: 36px + $mark-width + 36px;
    background-image: url('/img/mark.blue.png');
    background-color: $mark-bg-color;
    background-size: $mark-width;
    @include transition(background-color 200ms ease-in-out);
    &:hover {
      background-color: lighten($mark-bg-color, 5%);
    }
  }
}

.mark__img,
.mark__helper {
  display: inline-block;
  vertical-align: middle;
}

.mark__helper {
  height: 100%;
}

.mark__img {
  width: $mark-width;
  height: auto;
}

/* Nav */

.hamburger {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: $header-height;
  height: $header-height;
  .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -2px;
    font-size: 26px;
    color: white;
    @include transform(translate(-50%, -50%));
  }
  @media only screen and (min-width : $mobile-nav-breakpoint) {
    display: none;
  }
}

/* body */.is-menu-open {
  .main {
    @include transform(translateX($mobile-nav-width));
  }
  .nav {
    opacity: 1;
    @include transform(scale(1));
    z-index: 5;
  }
}

.nav {
  position: fixed;
  top: $header-height;
  bottom: 0;
  left: 0;
  background-color: $color-gray;
  width: $mobile-nav-width;
  z-index: 0;
  opacity: 0;

  @include transform(scale(.9));
  @include transform-origin(top center);
  @include transition(all 200ms cubic-bezier(.7, 0, .175, 1));

  @media only screen and (min-width : $mobile-nav-breakpoint) {
    display: inline-block;
    vertical-align: middle;

    position: relative;
    top: auto;
    margin-left: 48px;
    bottom: auto;
    left: auto;
    width: auto;
    background-color: transparent;
    box-shadow: none;
    z-index: 5;
    opacity: 1;
    @include transform(scale(1));
  }
}

.nav__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav__item {
  border-bottom: 1px solid rgba(black, .05);
  @media only screen and (min-width : $mobile-nav-breakpoint) {
    border-bottom: 0;
    float: left;
    margin-left: 48px;
    &:first-child { margin-left: 0; }
    &.is-active .nav__link {
      border-bottom: 1px solid $header-link-underline-color;
    }
  }
}

.nav__link {
  display: block;
  padding: 24px;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  color: $color-text;
  @media only screen and (min-width : $mobile-nav-breakpoint) {
    display: inline;
    padding: 4px 0;
    font-size: 14px;
    font-weight: 300;
    color: $header-link-color;
  }
}

/* Account */

.account {
  position: relative;
  display: inline-block;
  float: right;
  height: $header-height;
}

.account__avatar,
.account__settings-list {
  display: inline-block;
  vertical-align: middle;
}

.account__avatar {
  cursor: pointer;
  position: relative;
  width: $header-height;
  height: $header-height;
  img {
    position: absolute;
    top: 50%;
    left: 50%;
    @include transform(translate(-50%, -50%));
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 100%;
  }
  @media only screen and (min-width : $mobile-account-breakpoint) {
    cursor: default;
  }
}

.account__settings-list {
  display: none;
  position: absolute;
  top: 100%;
  top: calc(100% + 12px);
  right: 6px;
  width: 280px;
  z-index: 10;
  padding: 0;

  background-color: $color-base;
  border-radius: 5px;

  list-style-type: none;
  margin: 0;

  &:before {
    content: '';
    position: absolute;
    top: -12px;
    right: 12px;
    width: 0;
    height: 0;

    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    border-top: 6px solid transparent;
    border-bottom: 6px solid $color-base;
  }

  @media only screen and (min-width : $mobile-account-breakpoint) {
    display: inline-block;
    position: relative;
    top: auto;
    right: auto;
    width: auto;
    z-index: auto;

    background-color: transparent;
    border: 0;
    border-radius: 0;

    &:before { content: none; }
  }
}

@media only screen and (max-width : $mobile-account-breakpoint) {
  /* body */.is-account-menu-open .account__settings-list {
    display: block;
  }
}

.account__settings-item {
  border-bottom: 1px solid rgba(black, .1);
  &:last-child { border-bottom: 0; }
  @media only screen and (min-width : $mobile-account-breakpoint) {
    float: left;
    border-bottom: 0;
  }
}

.account__settings-link {
  display: block;
  padding: 18px 24px;
  font-size: 0;
  text-decoration: none;
  color: white;

  .icon {
    display: none;
    font-size: 20px;
  }
  .label {
    font-size: 14px;
    font-weight: 500;
  }

  @media only screen and (min-width : $mobile-account-breakpoint) {
    padding: 12px;
    color: $header-link-color;
    opacity: .5;
    @include transition(opacity 200ms ease-in-out);
    .icon {
      display: inline-block;
    }
    .label {
      display: none;
    }
    &:hover {
      opacity: 1;
    }
  }
}

/* Context Switcher */

.context-switcher {
  display: inline-block;
  vertical-align: middle;

  position: relative;
  margin: 0;
  font-size: 0;
  z-index: 100;

  @media only screen and (min-width : $mobile-account-breakpoint) {
    margin: 0 24px;
  }
}

.context-switcher__mobile-pin {
  display: block;
  position: relative;
  text-decoration: none;
  background-color: rgba(black, .2);
  width: 54px;
  height: 54px;
  .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 24px;
    color: white;
    @include transform(translate(-50%, -50%));
  }
  @media only screen and (min-width : $mobile-account-breakpoint) {
    display: none;
  }
}

.context-switcher__active-parent,
.context-switcher__active-entity {
  display: none;
  vertical-align: middle;
  padding: 0 24px;
  font-size: 14px;
  color: white;
  text-decoration: none;
  @media only screen and (min-width : $mobile-account-breakpoint) {
    display: inline-block;
  }
}

.context-switcher__active-entity {
  padding-top: 19px;
  padding-bottom: 19px;
  margin: -19px 0;
  cursor: default;
  background-color: darken($color-base, 5%);
  @include transition(background-color 200ms ease-in-out);
  .icon {
    display: none;
  }
}

.context-switcher__active-entity:not(.is-single) {
  cursor: pointer;
  padding-right: 12px + 8px + 24px;
  max-width: 240px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  &:hover {
    background-color: darken($color-base, 15%);
  }
  .icon {
    display: inline-block;
    position: absolute;
    top: 50%;
    margin-top: -8px;
    right: 24px - 4px;
    color: white;
    font-size: 16px;
    opacity: .25;
    @include transform(rotate(90deg));
  }
}

.context-switcher__active-parent {
  position: relative;
  margin-right: 24px;
  padding-right: 36px;
  .icon {
    position: absolute;
    top: 50%;
    margin-top: -8px;
    right: 0;
    color: white;
    font-size: 16px;
    opacity: .25;
  }
}

.context-switcher__entities-wrap {
  display: block;
  position: absolute;
  top: 54px + 8px;
  top: calc(100% + 12px);
  right: 0;
  &:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    top: -12px;
    right: 12px;

    border-top: 6px solid transparent;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid $color-base;
  }
  @media only screen and (min-width : $mobile-account-breakpoint) {
    top: calc(100% + 19px + 8px);
  }
}

.context-switcher__entities {
  display: block;
  list-style-type: none;
  width: 260px;
  max-height: 320px;
  overflow-y: auto;
  margin: 0;
  padding: 0;

  background-color: darken($color-base, 5%);
  border-radius: 5px;
}

.context-switcher__entity__item {
  border-bottom: 1px solid rgba(black, .1);
  &:last-child { border-bottom: 0; }
}

.context-switcher__entity__link {
  display: block;
  padding: 18px 24px;

  font-size: 14px;
  font-weight: 500;
  color: white;
  text-decoration: none;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  @include transition(background-color 200ms ease-in-out);

  &:hover {
    background-color: darken($color-base, 15%);
  }
}

.context-switcher__entity__item.is-child .context-switcher__entity__link {
  position: relative;
  padding-left: 24px + 12px + 10px;
  font-weight: 300;

  &:before {
    content: '';
    position: absolute;
    top: 50%;
    margin-top: -6px;
    left: 24px;

    width: 12px;
    height: 12px;

    background-size: contain;
    background-image: url('/img/corner-arrow.white.png');
    background-repeat: no-repeat;

    opacity: .25;
  }
}
