.header,
.mark {
  @media only screen and (min-width : 480px) {
    height: $header-height;
  }
}

.header {
  font-size: 0;
  background-color: $header-bg-color;
}

.mark {
  display: inline-block;
  vertical-align: middle;
  width: 36px + 20px + 36px;
  text-align: center;
  background-color: $mark-bg-color;

  @include transition(background-color 200ms ease-in-out);

  &:hover {
    background-color: lighten($mark-bg-color, 5%);
  }
}

.mark__img,
.mark__helper {
  display: inline-block;
  vertical-align: middle;
}

.mark__helper {
  height: 100%;
}

.mark__img {
  width: 20px;
  height: auto;
}

/* Nav */

.nav {
  display: inline-block;
  vertical-align: middle;
  margin-left: 48px;
}

.nav__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav__item {
  @media only screen and (min-width : 480px) {
    float: left;
    margin-left: 48px;
    &:first-child { margin-left: 0; }
    &.is-active .nav__link {
      border-bottom: 1px solid $header-link-underline-color;
    }
  }
}

.nav__link {
  padding: 4px 0;
  font-size: 14px;
  color: $header-link-color;
  text-decoration: none;
}

/* Account */

.account {
  display: inline-block;
  @media only screen and (min-width : 480px) {
    margin-top: ($header-height - 40px) / 2;
    float: right;
  }
}

.account__context {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  margin: 0;
  padding: 10px 12px;
  padding-right: 12px + 10px + 12px;

  font-size: 14px;

  color: white;
  border: 0;
  border-radius: 3px;
  background-color: transparent;

  @include appearance(none);

}

.account .selector {
  background-color: rgba(white, .125);
  margin-right: 24px;
  border-radius: 3px;

  @include transition(background-color 200ms ease-in-out);

  &:hover {
    background-color: rgba(white, .2);
  }
  &:after {
    content: '';
    position: absolute;
    top: 50%;
    margin-top: -5px;
    right: 12px;
    width: 10px;
    height: 10px;
    opacity: .4;

    background-image: url('/img/select.arrow.white.png');
  }
}

.account__avatar,
.account__settings-list {
  display: inline-block;
  vertical-align: middle;
}

.account__avatar {
  width: 32px;
  height: 32px;

  border-radius: 100%;
}

.account__settings-list {
  padding: 0 12px;
  list-style-type: none;
  margin: 0;
}

.account__settings-item {
  @media only screen and (min-width : 480px) {
    float: left;
  }
}

.account__settings-link {
  padding: 12px;
  font-size: 20px;
  text-decoration: none;
  color: $header-link-color;
  opacity: .5;

  @include transition(opacity 200ms ease-in-out);

  &:hover {
    opacity: 1;
  }
}
