.main {
  position: absolute;
  top: $header-height;
  bottom: 0;
  left: 0;
  right: 0;
}

.main-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 60px;
  overflow: auto;

  &.with-sidebar {
    @media only screen and (min-width : 480px) {
      margin-left: $sidebar-width;
    }
  }
}

.top-header {
  margin-top: 0;
}

.header-action {
  margin-top: -5px;
  @media only screen and (min-width : 480px) {
    float: right;
  }
}

/* Sidebar Menu */

.sidebar-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: $color-gray;
  @media only screen and (min-width : 480px) {
    float: left;
    width: $sidebar-width;
  }
}

.sidebar-menu__link {
  display: block;
  padding: 24px;

  font-size: 16px;
  font-weight: 400;
  text-decoration: none;

  color: $color-base;

  @include transition(background-color 200ms ease-in-out);
}

.sidebar-menu__item.is-active .sidebar-menu__link,
.sidebar-menu__link:hover {
  background-color: darken($color-gray, 5%);
}

.sidebar-menu__item .icon {
  font-size: 20px;
  margin-right: 12px;
}

/* Slats */

.slats {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 0;
}

.slats__item {
  border: 0 solid $color-gray-rgba;
  border-bottom-width: 2px;
  padding: 36px 0;
  &:first-child {
    border-top-width: 2px;
  }
}

.slats__main {
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  width: percentage(2 / 3);
}

.slats__item__header {
  margin-bottom: 6px;
  font-size: 18px;
  font-weight: 500;
}

.slats__actions {
  display: inline-block;
  text-align: right;
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: percentage(1 / 3);
  font-size: 0;
}

.slats__actions__item {
  display: inline-block;
  vertical-align: middle;
  margin-left: 6px;
  &:first-child { margin-left: 0; }
}

/* Edit Box */

.edit-box {
  position: relative;
  &.is-editing .edit-box__label {
    display: none;
  }
  &.is-editing .edit-box__input {
    display: inline-block;
  }
}

.edit-box__label,
.edit-box__input {
  padding: 8px;

  font-size: 16px;
  font-weight: 300;
  line-height: 1.4;
}

.edit-box__label {
  display: inline-block;
  position: relative;
  border: 4px solid transparent;
}

.edit-box__input {
  display: none;
  position: relative;
}

.edit-box__edit {
  margin-left: 12px;
}

/* Color Swatch */

.color-swatch {
  display: inline-block;
}

.color-swatch__color {
  display: inline-block;
  vertical-align: middle;
  margin-right: 0;
  width: 44px;
  height: 44px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.color-swatch__input {
  display: inline-block;
  vertical-align: middle;
  padding: 7px 18px;
  border-left: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

/* Selection Grid */

.selection-grid {
  list-style-type: none;
  margin: -12px;
  padding: 0;
}

.selection-grid__item {
  display: inline-block;
  vertical-align: top;
  padding: 12px;
  width: percentage(1 / 3);
}

.selection-grid__link {
  display: block;
  text-decoration: none;
  color: $color-text;

  border: 1px solid darken($color-gray, 25%);
  box-shadow: 2px 2px 0 $color-gray;
}

.selection-grid__box {
  height: 84px;
  padding: 0 12px;

  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: left;

  border: 2px solid $color-gray;

  @include transition-property (border-color, background-color);
  @include transition-duration(200ms);
  @include transition-timing-function(ease-in);
}

.selection-grid__label {
  display: block;
  position: relative;
  top: 50%;
  @include transform(translateY(-50%));
}

.selection-grid__item:not(.is-set) .selection-grid__link:hover .selection-grid__box,
.selection-grid__item.is-set .selection-grid__box {
  border-color: $color-accent;
}

.selection-grid__item .selection-grid__link:active .selection-grid__box {
  background-color: $color-accent;
  color: white;
}

/* Toaster */

.toaster {
  margin: 48px 0;
  padding: 36px;

  text-align: center;

  border-radius: 5px;
  background-color: $color-gray;
  // border: 4px solid $color-gray-rgba;
}

/* New Prompt */

.new-prompt {
  margin: 48px 0;
  padding: 36px;
  border-radius: 4px;
  background-color: $color-gray;
}

.new-prompt__header {
  margin-bottom: 24px;
}

.new-prompt__title {
  font-size: 18px;
  font-weight: 500;
}

.new-prompt__description {
  margin-top: 12px;
  font-size: 16px;
}

.new-prompt__actions {
  list-style-type: none;
  margin: 0;
  margin-top: 24px;
  padding: 0;
}

.new-prompt__actions__item {
  display: inline-block;
  vertical-align: middle;
  margin-left: 12px;
  &:first-child { margin-left: 0; }
}
