<form action="/reviewers/claim" method="post" class="login">

  <a href="/" class="login__logo">
    <img src="/img/logo.blue.png" class="login__logo__img" />
  </a>

  <% if @errors %>
  <ul class="login__errors">
    <% @errors.each do |error| %>
    <li class="login__errors__item">
      <%= error %>
    </li>
    <% end %>
  </ul>
  <% end %>

  <ul class="login__fields">
    <li class="login__field">
      <input id="email" name="account[name]" type="text" placeholder="Full Name">
    </li>
    <li class="login__field">
      <input id="password" name="account[password]" type="password" placeholder="Password">
    </li>
  </ul>

  <ul class="login__tray">
    <li class="login__tray__item">
      <input type="hidden" name="account[code]" value="<%= @code %>">
      <button class="btn--base login__submit" type="submit">Claim Account</button>
    </li>
  </ul>

</form>
