<section class="section is-gray">
  <div class="container">
    <h1 class="lead--big">
      <span class="text-highlight--dark">404</span> Not Found
    </h1>
  </div>
</section>
<section class="section">
  <div class="container a--center">
    <h2 class="lead errors__lead">
      We can't seem to find the page you're looking for.
    </h2>
    <div class="d--inline-block text-trim a--left">
      <p>
        Here are some helpful links instead:
      </p>
      <ul class="errors__links">
        <li class="errors__links__item">
          <a href="/">Home</a>
        </li>
        <li class="errors__links__item">
          <a href="/accounts/register">Register</a>
        </li>
        <li class="errors__links__item">
          <a href="/accounts/login">Sign In</a>
        </li>
      </ul>
    </div>
  </div>
</section>
