// Colors

$color-base: #374249;
$color-gray: #eef0f2;
$color-gray-rgba: rgba(black, .1);
$color-brand: #f2bc36; // Goldenrod
$color-accent: #3eccbe; // #9dceca // Teal

$color-red: #ef4d37;
$color-text: #333;
$color-text-light: #777;
