<h1 class="top-header">
  Spot Settings
</h1>

<div class="settings-inputs">
  <ul class="settings-inputs__list">
    <li class="settings-inputs__item">
      <label class="settings-inputs__label">Name</label>
      <input type="text" name="spotName" ng-model="spot.name" value="{{ spot.name }}" placeholder="Enter your spot name here" size="30" autofocus>
    </li>
    <li class="settings-inputs__item">
      <label class="settings-inputs__label">Status</label>
      <div class="settings-inputs__field">
        <div class="radio-group">
          <button type="button" class="radio spot-status--open" ng-class="{ 'is-selected':isStatus('open') }" ng-click="updateStatus('open')">Open</button>
          <button type="button" class="radio spot-status--closed" ng-class="{ 'is-selected':isStatus('closed') }" ng-click="updateStatus('closed')">Closed</button>
        </div>
      </div>
    </li>
    <li class="settings-inputs__item">
      <label class="settings-inputs__label">Description</label>
      <div class="rich-editor-wrap">
        <div class="rich-editor text-trim" ng-model="spot.detail" medium-editor options='{ "placeholder": "Enter a spot description", "buttons": ["bold", "italic", "underline", "anchor", "header1", "header2", "quote", "orderedlist", "unorderedlist"]}'></div>
      </div>
    </li>
    <li class="settings-inputs__tray">
      <button class="btn--primary"
          ng-class="{ 'is-disabled':isUpdating }"
          ng-disabled="isUpdating"
          ng-click="updateSpot()">{{ isUpdating ? 'Saving' : 'Save' }}</button>
    </li>
  </ul>
</div>
