<form action="/accounts/login" method="post" class="login">

  <a href="/" class="login__logo">
    <img src="/img/logo.png" class="login__logo__img" />
  </a>

  <% if @errors %>
  <ul>
    <% @errors.each do |error| %>
    <li>
      <%= error %>
    </li>
    <% end %>
  </ul>
  <% end %>

  <ul class="login__fields">
    <li class="login__field">
      <input id="email" name="account[email]" type="email" placeholder="Email">
    </li>
    <li class="login__field">
      <input id="password" name="account[password]" type="password" placeholder="Password">
    </li>
  </ul>

  <div class="login__tray">
    <button class="btn--primary" type="submit">Sign In</button>
  </div>

  <div>
    <a href="/accounts/passwords/reset">Reset Password</a>
  </div>

</form>
