<!DOCTYPE html>
<html>
  <head>
    <title>Applyance - Register</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="/img/favicon.png">

    <base href="/">
    <link rel="stylesheet" type="text/css" href="//cloud.typography.com/7222252/709524/css/fonts.css" />
    <link rel="stylesheet" type="text/css" href="/styles/css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="/styles/css/base.css" />
    <link rel="stylesheet" type="text/css" href="/styles/css/public.css" />
  </head>
  <body ng-app="Register">

    <div class="wrap">
      <%= erb :'shared/_header' %>
      <main class="register" ng-view></main>
    </div>
    <%= erb :'shared/_footer' %>
    <%= yield_content :scripts %>

    <script type="text/javascript" src="/scripts/register/register.js"></script>
    <script>
      var app = angular.module('Register');
      app.constant('apiHost', '<%= @api_host %>');
      app.constant('apiKey', '');
    </script>

  </body>
</html>
