<section class="site-content" style="padding-bottom: 202px;">

  <section class="sector--space lead--clear trim">
    <div class="gut trim">
      <h1>Set New Password</h1>
    </div>
  </section>

  <section class="sector--space">
    <div class="gut">

      <form accept-charset="UTF-8" action="/accounts/setpassword" id="new_reset" method="post" novalidate="novalidate"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"><input name="authenticity_token" type="hidden" value="KADPuBCLeIg7e1JtbapoCXPsJ9uhLTxseTxwG/gUA3M="></div>
        <div class="district-set--small clear">

          <input type="hidden" name="id" value=<%= id %> />
          <input type="hidden" name="token" value=<%= token %> />

          <ul class="district-list list--layout">
            <li>
              <div class="district trim">
                <div class="field first">
                  <label for="password">New Password</label>
                  <input id="password" name="password" parsley-required="true" type="password" value="" class="parsley-validated">
                </div>
                <div class="field last">
                  <label for="password">Verify Password</label>
                  <input id="password" name="password" parsley-required="true" type="password" value="" class="parsley-validated">
                </div>
              </div>
            </li>
          </ul>

          <div class="group">
            <div class="float--right">
              <button class="btn--green forward" name="button" type="submit">Set New Password</button>
            </div>
          </div>

        </div>
      </form>
    </div>
  </section>

</section>
