<section class="section home__lead-section">
  <div class="container--narrow">
    <div class="home__pitch a--center">
      <h1 class="home__headline">Start hiring employees in seconds.</h1>
      <h2 class="home__subline">Join the growing number of businesses trusting Applyance with their hiring process.</h2>
      <ul class="home__actions">
        <li class="home__actions__item">
          <a
              href="#form" class="btn--primary is-outline home__actions__link"
              apl-smooth-scroll duration="500" apl-scroll-end="setFormActivated()">
            Sign Up Free for 30 Days
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
