<section class="section is-base home__top-section">
  <div class="container">
    <div class="home__pitch">
      <h1 class="home__headline">Applications made simple</h1>
      <h2 class="home__subline">We take the time, energy, and cost out of your hiring process.</h2>
      <div class="home__actions">
        <a class="btn--primary" href="/accounts/register">Start Hiring in 5 Minutes</a>
      </div>
    </div>
    <div class="home__screen">
      <img src="/img/home.screen.list.png">
    </div>
  </div>
</section>

<section class="section is-big">
  <div class="container">
    <ul class="home__features">
      <li class="home__features__item">
        <div class="home__features__icon">
          <i class="icon icon-smartphone"></i>
        </div>
        <div class="home__features__title">
          Mobile Form
        </div>
        <div class="home__features__description">
          Broaden your funnel by gaining exposure to multiple platforms.
        </div>
      </li>
      <li class="home__features__item">
        <div class="home__features__icon">
          <i class="icon icon-notepad"></i>
        </div>
        <div class="home__features__title">
          Common Application
        </div>
        <div class="home__features__description">
          Reusable answers streamline the application process.
        </div>
      </li>
      <li class="home__features__item">
        <div class="home__features__icon">
          <i class="icon icon-group"></i>
        </div>
        <div class="home__features__title">
          Collaborative Review
        </div>
        <div class="home__features__description">
          Teams can collaborate on reviewing applications.
        </div>
      </li>
    </ul>
  </div>
</section>
