<section class="section is-gray">
  <div class="container">
    <h1>Some cute headline</h1>
    <h2>Then another line to knock it home.</h2>
    <div>
      <a href="/accounts/register">Start Hiring in 5 Minutes</a>
    </div>
  </div>
</div>
