<!DOCTYPE html>
<html>
  <head>
    <%= erb :'shared/_meta' %>
  </head>
  <body>

    <div class="wrap">

      <main class="main">

        <section class="home__header group">
          <div class="container--narrow">
            <img src="/img/logo.blue.png" class="home__header__logo" />
            <a href="/accounts/login" class="home__header__sign-in">Sign In</a>
          </div>
        </section>

        <section class="section home__lead-section">
          <div class="container--narrow">
            <div class="home__pitch a--center">
              <h1 class="home__headline">Applications made simple.</h1>
              <h2 class="home__subline">Your people are your business. Take control.</h2>
              <ul class="home__actions">
                <li class="home__actions__item">
                  <a class="btn--primary is-outline home__actions__link" href="/employers/register">For Employers</a>
                </li>
                <li class="home__actions__item">
                  <a class="btn--accent is-outline home__actions__link" href="/schools/register">For Schools</a>
                </li>
              </ul>
            </div>
          </div>
        </section>

        <section class="section is-spaceless home__features-section">
          <div class="container--narrow">
            <ul class="home__features">
              <li class="home__features__item is-left group">
                <div class="home__features__text">
                  <div class="home__features__title">
                    Stay Organized
                    Organization
                  </div>
                  <div class="home__features__description">

                    Stay on top of things with simple, clutter-free applications.
                  </div>
                </div>
                <div class="home__features__screen">
                  <img src="/img/home-features/organization.png" />
                  <div class="home__features__screen__gradient"></div>
                </div>
              </li>
              <li class="home__features__item is-right group">
                <div class="home__features__text">
                  <div class="home__features__title">
                    Collaborative Review
                  </div>
                  <div class="home__features__description">
                    You and the rest of your team can easily find the best applicants.
                  </div>
                </div>
                <div class="home__features__screen">
                  <img src="/img/home-features/collaborative-review.png" />
                  <div class="home__features__screen__gradient"></div>
                </div>
              </li>
              <li class="home__features__item is-left group">
                <div class="home__features__text">
                  <div class="home__features__title">
                    Multiple Locations
                  </div>
                  <div class="home__features__description">
                    Manage multiple locations for your business.
                  </div>
                </div>
                <div class="home__features__screen">
                  <img src="/img/home-features/multiple-locations.png" />
                  <div class="home__features__screen__gradient"></div>
                </div>
              </li>
              <li class="home__features__item is-right group">
                <div class="home__features__text">
                  <div class="home__features__title">
                    Multiple Spots
                  </div>
                  <div class="home__features__description">
                    Manage multiple spots for your company.
                  </div>
                </div>
                <div class="home__features__screen">
                  <img src="/img/home-features/multiple-spots.png" />
                  <div class="home__features__screen__gradient"></div>
                </div>
              </li>
              <li class="home__features__item is-left group">
                <div class="home__features__text">
                  <div class="home__features__title">
                    Mobile Form
                  </div>
                  <div class="home__features__description">
                    Broaden your funnel by gaining exposure on numerous platforms.
                  </div>
                </div>
                <div class="home__features__screen">
                  <img src="/img/home-features/mobile-form-left.png" />
                  <div class="home__features__screen__gradient"></div>
                </div>
              </li>
            </ul>
          </div>
        </section>

        <section class="section is-spaceless home__cta-section">
          <div class="container--narrow">
            <ul class="home__ctas">
              <li class="home__ctas__item is-left group">
                <div class="home__cta__text">
                  <div class="home__cta__title">
                    For Employers
                  </div>
                  <div class="home__cta__description">
                    Take the clutter out of your hiring process.
                  </div>
                </div>
                <div class="home__cta__cta">
                  <a class="btn--primary is-outline" href="/employers/register">Sign Up</a>
                </div>
              </li>
              <li class="home__ctas__item is-left group">
                <div class="home__cta__text">
                  <div class="home__cta__title">
                    For Schools
                  </div>
                  <div class="home__cta__description">
                    Simplify your admissions process.
                  </div>
                </div>
                <div class="home__cta__cta">
                  <a class="btn--accent is-outline" href="/schools/register">Sign Up</a>
                </div>
              </li>
            </ul>
          </div>
        </section>

      </main>
    </div>

    <%= erb :'shared/_footer' %>
    <%= erb :'shared/_common_scripts' %>

  </body>
</html>
