<% content_for :html_class do %>investors<% end %>

<section class="section">
  <div class="container a--center">
    <img class="investors__logo" src="/img/logo.blue.png" />
  </div>
</section>

<section class="section">
  <div class="container a--center">
    Investors Love Us
  </div>
</section>
