<section id="step3" class="section is-gray is-big">
  <div class="container--full">

    <div class="lead register-lead">
      Finally, what questions do you want on your application?
    </div>

    <apl-blueprints
        definitions="definitions"
        cols="3"
        definition-clicked="toggle(definition)"
        definition-is-set="isSet(definition)">
    </apl-blueprints>

    <div>
      <button
          ng-class="{ 'is-disabled':(!(form.reviewer.isValid && form.entity.isValid) || form.submitting) }"
          ng-disabled="form.submitting || !(form.reviewer.isValid && form.entity.isValid)"
          ng-click="submit()"
          class="btn--primary register-btn" type="submit">
        {{ form.submitting ? 'Creating Application' : 'Start Hiring!' }}
      </button>
    </div>

  </div>
</section>
