<section class="section is-gray is-big">
  <div class="container">

    <div class="lead register-lead">
      First, tell us a little about yourself.
    </div>

    <div class="register__fields-wrap">
      <ul class="register__fields">
        <li class="register__fields__item">
          <input class="register__fields__input" id="reviewer-name" name="reviewerName" type="text" autofocus placeholder="Full Name" ng-model="form.reviewer.name">
        </li>
        <li class="register__fields__item">
          <input class="register__fields__input" id="reviewer-email" name="reviewerEmail" type="text" placeholder="Email" ng-model="form.reviewer.email">
        </li>
        <li class="register__fields__item">
          <input class="register__fields__input" id="reviewer-password" name="reviewerPassword" type="password" placeholder="Password" ng-model="form.reviewer.password">
        </li>
      </ul>
    </div>

    <div>
      <button apl-register-scroll-to-step="2" class="btn--primary register-btn" type="submit" ng-click="form.step = 2">Continue to Your Company</button>
    </div>

  </div>
</section>
