@import 'init';
@import 'ui-font';

html,
body {
  height: 100%;
  width: 100%;
}

html {
  box-sizing: border-box;

  font-size: 100%;
  font-family: 'Gotham Rounded SSm A', 'Gotham Rounded SSm B';
  font-weight: 300;
  font-style: normal;
  line-height: 1.2;

  color: $color-text;
}

p {
  line-height: 1.5;
}

strong {
  font-weight: 500;
}

a {
  color: $color-accent;
  @include transition(color 200ms ease-in-out);
}

*, *:before, *:after {
  box-sizing: inherit;
}

select {
  padding-right: 18px + 12px + 18px;
}

blockquote {
  margin-left: 24px;
  padding: 12px 24px;
  border-left: 4px solid $color-accent;
}

.selector {
  display: inline-block;
  position: relative;
  background-color: white;
  &:after {
    content: '';
    position: absolute;
    top: 50%;
    margin-top: -6px;
    right: 18px + 4px;
    width: 12px;
    height: 12px;
    opacity: .25;

    background-image: url('/img/select.arrow.black.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.text-trim > * {
  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

/* Buttons */

.btn {
  display: inline-block;
  padding: 14px 42px;

  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  text-decoration: none;
  text-align: center;

  outline: none;
  border: 0;
  border-radius: 4px;
  background-color: $color-gray-rgba;
  color: $color-text;

  @include transition(background-color 200ms ease-in-out);

  &:not(.is-disabled):focus,
  &:not(.is-disabled):hover {
    background-color: rgba($color-gray-rgba, .15);
  }
  &.is-small {
    font-size: 14px;
    padding: 12px 24px;
  }
  &.is-mini {
    font-size: 14px;
    padding: 8px 12px;
  }
  &.is-disabled {
    cursor: not-allowed;
    opacity: .3;
  }
}

.btn--primary {
  @extend .btn;
  background-color: $color-brand;
  color: white;
  &:not(.is-disabled):focus,
  &:not(.is-disabled):hover {
    background-color: lighten($color-brand, 10%);
  }
}

.btn--base {
  @extend .btn;
  background-color: $color-base;
  color: white;
  &:not(.is-disabled):focus,
  &:not(.is-disabled):hover {
    background-color: lighten($color-base, 10%);
  }
}

.btn--secondary {
  @extend .btn;
  background-color: #777;
  color: white;
  &:not(.is-disabled):focus,
  &:not(.is-disabled):hover {
    background-color: darken(#777, 10%);
  }
}

.btn--accent {
  @extend .btn;
  background-color: $color-accent;
  color: white;
  &:not(.is-disabled):focus,
  &:not(.is-disabled):hover {
    background-color: darken($color-accent, 10%);
  }
}

/* Attachment */

.attachment {
  display: inline-block;
}

.attachment__box {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 140px;
  height: 140px;
  padding: 6px;

  text-align: center;

  background-color: lighten($color-gray, 5%);
  border: 4px dashed $color-gray;
  border-radius: 5px;

  img {
    display: block;
    position: relative;
    top: 50%;
    @include transform(translateY(-50%));
    width: 100%;
    height: auto;

    border-radius: 3px;
  }
}

.attachment__empty {
  display: inline-block;
  margin-top: -4px;
  position: absolute;
  left: 50%;
  top: 50%;
  @include transform(translate(-50%, -50%));
  font-size: 96px;
  opacity: .1;
}

.attachment__choose {
  margin-left: 24px;
}

.attachment__file {
  opacity: 0;
  width: 1px;
}

/* Selection Grid */

.selection-grid {
  list-style-type: none;
  margin: -12px;
  padding: 0;
  &.is-4 .selection-grid__item {
    @media only screen and (min-width : 1100px) {
      width: percentage(1 / 4);
    }
  }
  &.is-2 .selection-grid__item {
    @media only screen and (min-width : 900px) {
      width: percentage(1 / 2);
    }
  }
  &.is-mini .selection-grid__box {
    height: 60px;
  }
}

.selection-grid__item {
  display: inline-block;
  vertical-align: top;
  padding: 12px;
  width: 100%;

  &.is-disabled .selection-grid__link {
    opacity: .4;
    cursor: default;
  }

  @media only screen and (min-width : 600px) {
    width: percentage(1 / 2);
  }
  @media only screen and (min-width : 900px) {
    width: percentage(1 / 3);
  }
}

.selection-grid__link {
  display: block;
  text-decoration: none;
  color: $color-text;

  border: 1px solid darken($color-gray, 25%);
  box-shadow: 2px 2px 0 $color-gray;
}

.selection-grid__box {
  height: 84px;
  padding: 0 12px;

  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: left;

  border: 2px solid $color-gray;

  @include transition-property (border-color, background-color);
  @include transition-duration(200ms);
  @include transition-timing-function(ease-in);
}

.selection-grid__label {
  display: block;
  position: relative;
  top: 50%;
  @include transform(translateY(-50%));
}

.selection-grid__item:not(.is-set) .selection-grid__link:hover .selection-grid__box,
.selection-grid__item.is-set .selection-grid__box {
  border-color: $color-accent;
}

.selection-grid__item:not(.is-disabled) .selection-grid__link:active .selection-grid__box {
  background-color: $color-accent;
  color: white;
}

.selection-grid.is-neutral .selection-grid__item:not(.is-set) .selection-grid__link:hover .selection-grid__box,
.selection-grid.is-neutral .selection-grid__item.is-set .selection-grid__box {
  border-color: #333;
}

.selection-grid.is-neutral .selection-grid__item:not(.is-disabled) .selection-grid__link:active .selection-grid__box {
  background-color: #333;
  color: white;
}
