@import 'init';

html {
  background-color: white;
}

.container {
  max-width: 960px;
  width: auto;
  padding-left: 24px;
  padding-right: 24px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  padding: 24px 0;
}

/* Logo */

.logo__link {
  float: left;
}

.logo {
  display: block;
  width: (377px / 2.25);
  height: (60px / 2.25);
}

/* Nav */

.nav {
  @media only screen and (min-width : 480px) {
    margin-top: 4px;
    float: right;
  }
}

.nav__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav__item {
  @media only screen and (min-width : 480px) {
    float: left;
    margin-left: 24px;
    &:first-child { margin-left: 0; }
    &.is-emphasized .nav__link {
      padding: 12px;
      margin-top: -12px;
      border: 2px solid $color-gray;
    }
  }
}

.nav__link {
  font-size: 14px;
  color: $color-text;
  text-decoration: none;
}

/* Sections */

.section {
  padding: 48px 0;
  &.is-gray {
    background-color: $color-gray;
  }
}
