<!DOCTYPE html>
<html>
  <head>
    <title>Applyance</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="/img/favicon.png">

    <link rel="stylesheet" type="text/css" href="//cloud.typography.com/7222252/709524/css/fonts.css" />
    <link rel="stylesheet" type="text/css" href="/styles/css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="/styles/css/base.css" />
    <link rel="stylesheet" type="text/css" href="/styles/css/application.css" />
  </head>
  <body>

    <%= yield %>

  </body>
</html>
