account settings
<ul>
  <li>
    <label>name</label>
    <input type="text" ng-model="updatedAccountInfo.name">
  </li>
  <li>
    <label>Avatar</label>
    <img width="100" ng-if="updatedAccountInfo.avatar" src="{{ updatedAccountInfo.avatar.url }}" alt="avatar" />
    <input type="file" avatarread="updatedAccountInfo" accepts="image/*">
  </li>
  <li>
    <label>email</label>
    <input type="email" ng-model="updatedAccountInfo.email">
  </li>
  <li>
    <label>verify password</label>
    <input type="password" ng-model="updatedAccountInfo.currentPassword">
  </li>
  <li>
    <label>new password</label>
    <input type="password" ng-model="updatedAccountInfo.newPassword">
  </li>
</ul>

<button ng-click="updateAccount()">Update</button>
