<h1>Administrators</h1>

<div ng-controller="EntityAdminsCtrl">
  <ul>
    <li ng-repeat="admin in admins">
      <span>{{ admin.account.name }}</span>
      <span>{{ admin.account.email }}</span>
      <a href="" ng-class="{ disabled: !isRevokable(admin) }" ng-disabled="!isRevokable(admin)" ng-click="revokeAccess(admin)">Revoke Access</a>
    </li>
  </ul>
</div>

<div ng-controller="EntityInvitesCtrl">
  <h2>Invitations</h2>

  <a href="" ng-click="inviteAdmin()">New Invite</a>

  <div ng-if="inviting">
    <input name="newInvite" ng-model="newInvite.email" value="{{ newInvite.email }}" type="text" placeholder="Email">
    <button ng-click="commitInvite()">Invite</button>
  </div>

  <ul>
    <li ng-repeat="invite in invites" ng-class="{{ invite.status }}">
      <span>{{ invite.email }}</span>
    </li>
  </ul>
</div>
