<h1>Manage Units</h1>

<a href="" ng-click="addUnit()">New</a>
<ul>
  <li ng-repeat="unit in units" ng-class="{ editing:isEditing(unit) }">
    <div ng-if="unit.logo.url">
      <img src="{{ unit.logo.url }}" width="100">
    </div>
    {{ unit.name }}
    <input type="text" ng-model="unit.name" value="{{ unit.name }}" focus-on="isEditingUnit-{{ unit.id }}" ng-blur="updateUnit(unit)">
    <a href="" ng-click="triggerEdit(unit)">Edit</a>
    <a href="" ng-click="removeUnit(unit)">Remove</a>
  </li>
</ul>
