<!-- Secondary nav aka Sidebar -->
<div>
  <div>
    <a href="/entities/{{ context.id }}/settings">Company Settings</a>
  </div>
  <div>
    <a href="/entities/{{ context.id }}/entities">Locations</a>
  </div>
  <div>
    <a href="/entities/{{ context.id }}/reviewers">Team</a>
  </div>
  <div>
    <a href="/entities/{{ context.id }}/blueprints">Questions</a>
  </div>
  <div>
    <a href="/entities/{{ context.id }}/labels">Labels</a>
  </div>
</div>

<!-- content area (right side stuff) -->
<div ng-switch="settings">
  <div ng-switch-when="settings" ng-controller="EntitySettingsCtrl">
    <div ng-include="'views/settings/entitySettings.html'"></div>
  </div>
  <div ng-switch-when="entities" ng-controller="EntityEntitiesCtrl">
    <div ng-include="'views/settings/manageEntities.html'"></div>
  </div>
  <div ng-switch-when="reviewers">
    <div ng-include="'views/settings/manageReviewers.html'"></div>
  </div>
  <div ng-switch-when="blueprints" ng-controller="EntityBlueprintsCtrl">
    <div ng-include="'views/settings/manageBlueprints.html'"></div>
  </div>
  <div ng-switch-when="labels" ng-controller="EntityLabelsCtrl">
    <div ng-include="'views/settings/manageLabels.html'"></div>
  </div>
</div>
