<!-- Entity Settings -->
<div ng-if="context.group == 'entities'">
  <!-- Secondary nav aka Sidebar -->
  <div>
    <div>
      <a href="/entities/{{ context.id }}/settings">Entity Settings</a>
    </div>
    <div>
      <a href="/entities/{{ context.id }}/units">Manage Units</a>
    </div>
    <div>
      <a href="/entities/{{ context.id }}/admins">Manage Admins</a>
    </div>
    <div>
      <a href="/entities/{{ context.id }}/blueprints">Manage Blueprints</a>
    </div>
  </div>

  <!-- content area (right side stuff) -->
  <div ng-switch="settings">
    <div ng-switch-when="settings" ng-controller="EntitySettingsCtrl">
      <div ng-include="'views/settings/entitySettings.html'"></div>
    </div>
    <div ng-switch-when="units" ng-controller="EntityUnitsCtrl">
      <div ng-include="'views/settings/manageUnits.html'"></div>
    </div>
    <div ng-switch-when="admins">
      <div ng-include="'views/settings/manageAdmins.html'"></div>
    </div>
    <div ng-switch-when="blueprints" ng-controller="EntityBlueprintsCtrl">
      <div ng-include="'views/settings/manageBlueprints.html'"></div>
    </div>
  </div>
</div>


<!-- Unit Settings -->
<div ng-if="context.group == 'units'">
  <!-- Secondary Nav aka Sidebar -->
  <div>
    <div>
      <a href="/units/{{ context.id }}/settings">Unit Settings</a>
    </div>
    <div>
      <a href="/units/{{ context.id }}/reviewers">Manage Reviewers</a>
    </div>
    <div>
      <a href="/units/{{ context.id }}/blueprints">Manage Blueprints</a>
    </div>
    <div>
      <a href="/units/{{ context.id }}/labels">Manage Labels</a>
    </div>
  </div>

  <!-- content area (right side stuff) -->
  <div ng-switch="settings">
    <div ng-switch-when="settings" ng-controller="UnitSettingsCtrl">
      <div ng-include="'views/settings/unitSettings.html'"></div>
    </div>
    <div ng-switch-when="reviewers">
      <div ng-include="'views/settings/manageReviewers.html'"></div>
    </div>
    <div ng-switch-when="blueprints" ng-controller="UnitBlueprintsCtrl">
      <div ng-include="'views/settings/manageBlueprints.html'"></div>
    </div>
    <div ng-switch-when="labels" ng-controller="UnitLabelsCtrl">
      <div ng-include="'views/settings/manageLabels.html'"></div>
    </div>
  </div>
</div>
