<div class="main-container">

  <div class="application">

    <div class="application__applicant">
      <div class="application__applicant__avatar">
        <img class="avatar" ng-src="{{ getAvatarUrl() }}">
      </div>
      <div class="application__applicant__info">
        <h2 class="application__applicant__name">
          {{ application.applicant.account.name }}
        </h2>
        <div ng-if="application.applicant.location" class="application__applicant__location">
          <i class="icon icon-location"></i>{{ application.applicant.location.address.city }}, {{ application.applicant.location.address.state }}
        </div>
        <ul class="application__applicant__contact">
          <li class="application__applicant__contact__item">
            {{ application.applicant.account.email }}
          </li>
          <li ng-if="application.applicant.phone_number" class="application__applicant__contact__item">
            {{ application.applicant.phone_number }}
          </li>
        </ul>
      </div>
      <div class="application__applicant__rating">
        {{ cumulativeRating | number:1 }}
      </div>
    </div>

    <div class="application__actions group">
      <div class="application__actions__entity">
        Application to {{ getEntity().name }}
      </div>
      <ul class="application__actions__rating applicant-rating">
        <li class="applicant-rating__item is-settable"
            ng-repeat="ratingOption in ratingOptions"
            ng-class="{ 'is-active':ratingOption.active, 'is-set':ratingOption.set }"
            ng-click="setRatingOption(ratingOption)"
            ng-mouseover="mouseoverRatingOption(ratingOption)"
            ng-mouseleave="mouseleaveRatingOption(ratingOption)">
          <i class="icon-star-5"></i>
        </li>
      </ul>
    </div>

    <ol class="application__fields">
      <li ng-if="application.applicant.location" class="application__fields__item">
        <div class="application__fields__label">
          Address
        </div>
        <div class="application__fields__detail text-trim" ng-bind-html="renderAddress(application.applicant.location.address)"></div>
      </li>
      <li class="application__fields__item" ng-repeat="field in application.fields">
        <div class="application__fields__label">
          {{ field.datum.definition.label | blueprint:getEntity() }}
        </div>
        <div class="application__fields__detail text-trim" ng-bind-html="renderDetail(field.datum.detail.value)">
        </div>
      </li>
    </ol>
  </div>
</div>
