<div class="main-container">

  <h1 class="top-header">
    Applicants
  </h1>

  <div ng-switch on="citizens.length">
    <div ng-switch-default>

      <ul class="slats">
        <li class="slats__item" ng-repeat="citizen in citizens">

          <ul class="slats__units unit--1of2">
            <li class="slats__units__item">
              <img class="avatar slats--application__avatar--picture" ng-src="{{ citizen.avatarUrl }}" ng-if="citizen.avatarUrl != -1" />
              <div class="avatar slats--application__avatar--initials" ng-if="citizen.avatarUrl == -1">
                <span class="label">{{ citizen.account.initials }}</span>
              </div>
            </li>
            <li class="slats__units__item slats--application__main">
              <a class="slats__item__header" href="applicants/{{ citizen.id }}">
                {{ citizen.account.name }}
              </a>
              <div class="slats--application__applied-on">
                <span class="preface">Applied on</span>
                <span class="date">{{ citizen.applications[citizen.applications.length - 1].submitted_at | aplMoment: 'MMM. Do YYYY, h:mm a' }}</span>
              </div>
            </li>
          </ul>

          <ul class="slats__units is-right unit--1of2 slats--application__meta">
            <li class="slats__units__item unit--1of2 slats--application__number-rating">
              {{ getRating(citizen) | number:1 }}
            </li>
            <li class="slats__units__item unit--1of2" ng-if="getLabels(citizen).length > 0">
              <ul class="applicant-labels application-list__labels">
                <li class="applicant-labels__item"
                    ng-repeat="label in getLabels(citizen)"
                    apl-tooltip="{{ label.name }}">
                  <span class="label-ring" style="background-color: #{{ label.color }}"></span>
                </li>
              </ul>
            </li>
            <li class="slats__units__item unit--1of2 slats--application__star-rating">
              <ul class="applicant-rating">
                <li class="applicant-rating__item"
                    ng-repeat="i in [1,2,3,4,5]"
                    ng-class="{ 'is-set':isRatingSet(i, citizen) }">
                  <i class="icon-star-5"></i>
                </li>
              </ul>
            </li>
          </ul>

        </li>
      </ul>

    </div>
    <div ng-switch-when="0">
      <div class="toaster text-trim">
        <p>
          It looks like you haven't had any applications for {{ activeEntity.name }} just yet.<br />Have you shared the link to your application form with anyone?
        </p>
        <p>
          <a class="btn--primary" href="/{{ activeEntity.slug }}" target="_blank">Application Form for {{ activeEntity.name }}</a>
        </p>
      </div>
    </div>
  </div>
</div>
