<form action="/accounts/passwords/reset" method="post" class="login">

  <a href="/" class="login__logo">
    <img src="/img/logo.blue.png" class="login__logo__img" />
  </a>

  <% if @errors %>
  <ul class="login__errors">
    <% @errors.each do |error| %>
    <li class="login__errors__item">
      <%= error %>
    </li>
    <% end %>
  </ul>
  <% end %>

  <ul class="login__fields">
    <li class="login__field">
      <input id="email" name="account[email]" type="email" placeholder="Email" autofocus>
    </li>
  </ul>

  <ul class="login__tray">
    <li class="login__tray__item">
      <button class="btn--base login__submit" type="submit">Reset Password</button>
    </li>
    <li class="login__tray__item">
      <a href="/accounts/login">I remember! Sign me in.</a>
    </li>
  </ul>

</form>
