<div class="login">
  <a href="/" class="login__logo">
    <img src="/img/logo.blue.png" class="login__logo__img" />
  </a>
  <div class="text-trim">
    <p>
      Check your inbox for instructions on resetting your password!
    </p>
  </div>
</div>
