<section class="site-content" style="padding-bottom: 202px;">

  <section class="sector--space lead--clear trim">
    <div class="gut trim">
      <h1>Reset Password</h1>
    </div>
  </section>

  <section class="sector--space">
    <div class="gut">

      <form accept-charset="UTF-8" action="/accounts/password/reset" id="new_reset" method="post" novalidate="novalidate">
        
        <div class="district-set--small clear">

          <ul class="district-list list--layout">
            <li>
              <div class="district trim">
                <div class="field first last">
                  <label for="email">Email</label>
                  <input id="email" name="account[email]" parsley-required="true" parsley-type="email" type="email" class="parsley-validated">
                </div>
              </div>
            </li>
          </ul>

          <div class="group">
            <div class="float--right">
              <button class="btn--green forward" name="button" type="submit">Reset Password</button>
            </div>
            <div class="float--left">
              <a class="btn--gray back" href="/accounts/login">Login</a>
            </div>
          </div>

        </div>
      </form>
    </div>
  </section>

</section>
