<form action="/accounts/passwords/set" method="post" class="login">

  <a href="/" class="login__logo">
    <img src="/img/logo.blue.png" class="login__logo__img" />
  </a>

  <% if @errors %>
  <ul class="login__errors">
    <% @errors.each do |error| %>
    <li class="login__errors__item">
      <%= error %>
    </li>
    <% end %>
  </ul>
  <% end %>

  <ul class="login__fields">
    <li class="login__field">
      <input id="password" name="account[password]" type="password" placeholder="New Password" autofocus>
    </li>
  </ul>

  <ul class="login__tray">
    <li class="login__tray__item">
      <input type="hidden" name="code" value="<%= @code %>">
      <button class="btn--primary" type="submit">Set Password</button>
    </li>
  </ul>

</form>
