<form action="/accounts/passwords/set" method="post" class="login">

  <a href="/" class="login__logo">
    <img src="/img/logo.png" class="login__logo__img" />
  </a>

  <% if @errors %>
  <ul>
    <% @errors.each do |error| %>
    <li>
      <%= error %>
    </li>
    <% end %>
  </ul>
  <% end %>

  <ul class="login__fields">
    <li class="login__field">
      <input id="password" name="account[password]" type="password" placeholder="New Password">
    </li>
  </ul>

  <div class="login__tray">
    <input type="hidden" name="code" value="<%= @code %>">
    <button class="btn--primary" type="submit">Set Password</button>
  </div>

  <div>
    <a href="/accounts/login">Sign In</a>
  </div>

</form>
