<div class="main-container">

  <h1 class="top-header">
    Applications
    <a ng-if="applications.length > 0" href="/{{ activeEntity.slug }}/{{ spot.slug }}" target="_blank" class="tag application-header-link">
      View Your Application Form
    </a>
  </h1>

  <div ng-switch on="applications.length">
    <div ng-switch-default>

      <ul class="slats">
        <li class="slats__item" ng-repeat="application in applications">

          <ul class="slats__units unit--2of3">
            <li class="slats__units__item unit--1of10">
              <img class="avatar" ng-src="{{ getAvatarUrl(application) }}" />
            </li>
            <li class="slats__units__item">
              <a class="slats__item__header" href="applications/{{ application.id }}">
                {{ application.applicant.account.name }}
              </a>
              <div>
                Applied on {{ application.submitted_at | amDateFormat: 'MMMM Do YYYY, h:mm a' }}
              </div>
            </li>
          </ul>

          <ul class="slats__units is-right unit--1of3">
            <li class="slats__units__item">
              <ul class="applicant-rating">
                <li class="applicant-rating__item"
                    ng-repeat="i in [1,2,3,4,5]"
                    ng-class="{ 'is-set':isRatingSet(i, application) }">
                  <i class="icon-star-5"></i>
                </li>
              </ul>
            </li>
          </ul>

        </li>
      </ul>

    </div>
    <div ng-switch-when="0">
      <div class="toaster text-trim">
        <p>
          It looks like you haven't had any applications for {{ spot.name }} just yet.<br />Have you shared the link to your application form with anyone?
        </p>
        <p>
          <a class="btn--primary" href="/{{ activeEntity.slug }}/{{ spot.slug }}" target="_blank">Application Form for {{ spot.name }}</a>
        </p>
      </div>
    </div>
  </div>
</div>
