<div class="main-container">

  <h1 class="top-header">
    Spots
    <a href="" ng-if="spots.length > 0" class="header-action btn--primary" ng-click="createSpot()">Create Spot</a>
  </h1>

  <div ng-switch on="spots.length">
    <div ng-switch-default>
      <ul class="display-grid">
        <li class="display-grid__item" ng-repeat="spot in spots">
          <div class="display-grid__box" ng-class="{ 'is-clickable':currentScope == 'admin' }">
            <div class="display-grid__title" apl-go="spots/{{ spot.id }}/settings" apl-can-go="{{ currentScope == 'admin' }}">{{ spot.name }}</div>
            <div class="display-grid__tray group" apl-go="spots/{{ spot.id }}/settings" apl-can-go="{{ currentScope == 'admin' }}">
              <ul class="display-grid__actions--primary">
                <li class="display-grid__actions__item display-grid--spot__actions__item__status--{{ spot.status }}">
                  {{ spot.status | capitalize }}
                </li>
              </ul>
              <ul class="display-grid__actions--secondary">
                <li ng-if="currentScope == 'admin'" class="display-grid__actions__item">
                  <a href="" class="btn--secondary is-mini delete" confirmed-click="deleteSpot(spot)" ng-confirm-click="Are you sure you want to delete {{ spot.name }}?">Remove</a>
                </li>
              </ul>
            </div>
            <a href="spots/{{ spot.id }}/applications" ng-if="spot.application_count > 0" class="display-grid__content display-grid--spot__content--applications">
              <span class="count">{{ spot.application_count }}</span><span class="label">{{ (spot.application_count == 1) ? 'Application' : 'Applications' }}</span>
            </a>
          </div>
        </li>
      </ul>
    </div>
    <div ng-switch-when="0">
      <div class="toaster text-trim">
        <p>
          It looks like you haven't created any spots for {{ activeEntity.name }} just yet.
        </p>
        <p>
          <a class="btn--primary" href="" ng-click="createSpot()">Create Spot for {{ activeEntity.name }}</a>
        </p>
      </div>
    </div>
  </div>
</div>
