<div class="main-container">

  <h1 class="top-header">
    Spots
    <a href="" ng-if="spots.length > 0" class="header-action btn--primary" ng-click="createSpot()">Create Spot</a>
  </h1>

  <div ng-switch on="spots.length">
    <div ng-switch-default>
      <ul class="display-grid">
        <li class="display-grid__item" ng-repeat="spot in spots">
          <a class="display-grid__box" href="spots/{{ spot.id }}/settings">
            <div class="display-grid__title">{{ spot.name }}</div>
            <div class="display-grid__content" style="display:none;">
              <div class="display-grid__big-label">{{ spot.application_count }}</div>
              <div class="display-grid__small-label">{{ (spot.application_count == 1) ? 'Application' : 'Applications' }}</div>
            </div>
            <div class="display-grid__tray group">
              <ul class="display-grid__actions--primary">
                <li>
                  
                </li>
              </ul>
              <ul class="display-grid__actions--secondary">
                <li>

                </li>
              </ul>
            </div>
          </a>
        </li>
      </ul>
    </div>
    <div ng-switch-when="0">
      <div class="toaster text-trim">
        <p>
          It looks like you haven't created any spots for {{ activeEntity.name }} just yet.
        </p>
        <p>
          <a class="btn--primary" href="" ng-click="createSpot()">Create Spot for {{ activeEntity.name }}</a>
        </p>
      </div>
    </div>
  </div>
</div>
