/* Selection Grid */

.selection-grid {
  list-style-type: none;
  font-size: 0;
  margin: -12px;
  padding: 0;
  &.is-4 .selection-grid__item {
    @media only screen and (min-width : 1100px) {
      width: percentage(1 / 4);
    }
  }
  &.is-2 .selection-grid__item {
    @media only screen and (min-width : 900px) {
      width: percentage(1 / 2);
    }
  }
  &.is-mini .selection-grid__box {
    height: 60px;
  }
}

.selection-grid__item {
  display: inline-block;
  vertical-align: top;
  padding: 12px;
  width: 100%;

  &.is-disabled .selection-grid__link {
    opacity: .4;
    cursor: default;
  }

  @media only screen and (min-width : 600px) {
    width: percentage(1 / 2);
  }
  @media only screen and (min-width : 900px) {
    width: percentage(1 / 3);
  }
}

.selection-grid__link {
  display: block;
  text-decoration: none;
  color: $color-text;
  cursor: pointer;

  border: 1px solid rgba(black, .3);
  box-shadow: 2px 2px 0 $color-gray-rgba;
}

.selection-grid__box {
  position: relative;
  height: 84px;
  padding: 0 12px;

  font-size: 14px;
  font-weight: 500;
  line-height: 1.4;
  text-transform: uppercase;
  text-align: left;

  border: 2px solid $color-gray-rgba;

  @include transition-property (border-color, background-color, color);
  @include transition-duration(200ms);
  @include transition-timing-function(ease-in);
}

.selection-grid__label {
  display: block;
  position: relative;
  top: 50%;
  @include transform(translateY(-50%));
}

.is-manageable .selection-grid__label {
  padding-right: 62px;
}

.selection-grid__item:not(.is-set) .selection-grid__link:hover .selection-grid__box,
.selection-grid__item.is-set .selection-grid__box {
  border-color: $color-accent;
}

.selection-grid__item:not(.is-disabled) .selection-grid__link:active .selection-grid__box {
  background-color: $color-accent;
  color: white;
}

.selection-grid.is-neutral .selection-grid__item:not(.is-set) .selection-grid__link:hover .selection-grid__box,
.selection-grid.is-neutral .selection-grid__item.is-set .selection-grid__box {
  border-color: #333;
}

.selection-grid.is-neutral .selection-grid__item:not(.is-disabled) .selection-grid__link:active .selection-grid__box {
  background-color: #333;
  color: white;
}

//
// Management

.selection-grid__manage {
  position: absolute;
  top: 50%;
  right: 12px;
  @include transform(translateY(-50%));

  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 0;
}

.selection-grid__manage__item {
  display: inline-block;
  margin-right: 6px;
  &:last-child { margin-right: 0; }
}

.selection-grid__manage__link {
  display: block;
  width: 28px;
  height: 28px;

  font-size: 16px;
  line-height: 28px;
  text-align: center;
  text-decoration: none;

  color: $color-text;
  border-radius: 100%;
  background-color: $color-gray-rgba;

  @include transition(background-color 200ms ease-in-out);

  &:hover {
    background-color: rgba($color-gray-rgba, .15);
  }
}
