<section class="section is-base">
  <div class="container">
    <h1 class="lead--big register-lead--big">
      Start hiring in <span class="text-highlight">5 minutes</span>
    </h1>
  </div>
</section>

<div ng-if="form.step >= 1">
  <div ng-include="'/views/register/steps/personal.html'" ng-controller="ReviewerCtrl"></div>
</div>

<div ng-if="form.step >= 2">
  <div ng-include="'/views/register/steps/company.html'" ng-controller="EntityCtrl"></div>
</div>

<div ng-if="form.step >= 3">
  <div ng-include="'/views/register/steps/blueprints.html'" ng-controller="BlueprintsCtrl"></div>
</div>

<section ng-if="form.submitted" class="register__submitted">
  <div class="register__submitted__wrapper">
    <h1 class="lead--big">
      You're ready to hire
    </h1>
    <div class="subline">
      Pretty easy, huh? Just share the link below to start hiring.
    </div>
    <div class="register__submitted__app-link">
      http://applyance.com/{{ entity.slug }}
    </div>
    <div>
      <a class="btn--primary" href="/entities/{{ entity.id }}/applications" target="_self">Go to Your Reviewer Dashboard</a>
    </div>
  </div>
</section>
