<div class="application__applicant">
  <div class="application__applicant__avatar">
    <img class="avatar" ng-src="{{ getAvatarUrl() }}">
  </div>
  <div class="application__applicant__info">
    <h2 class="application__applicant__name">
      {{ citizen.account.name }}
    </h2>
    <ul class="application__applicant__contact">
      <li class="application__applicant__contact__item">
        <svg class="icon">
          <use xlink:href="#envelope" />
        </svg>
        <span class="label">
          {{ citizen.account.email }}
        </span>
      </li>
      <li class="application__applicant__contact__item"
          ng-if="citizen.account.phone_number">
        <svg class="icon">
          <use xlink:href="#smartphone" />
        </svg>
        <span class="label">
          {{ citizen.account.phone_number }}
        </span>
      </li>
    </ul>
  </div>
  <div class="application__applicant__rating" ng-if="hasActiveFeature('applicantManagement')">
    {{ cumulativeRating | number:1 }}
  </div>
</div>

<div class="application-profile__applied-to group">
  Applied to {{ getApplyable() }} on {{ application.submitted_at | aplMoment: 'MMM. D, YYYY' }}
</div>

<ul class="application__actions group" ng-if="hasActiveFeature('applicantManagement')">
  <li class="unit--1of2 left">
    <ul class="applicant-labels application__actions__labels">
      <li class="applicant-labels__item"
          ng-repeat="label in citizen.labels"
          apl-tooltip="{{ label.name }}">
        <span class="label-ring is-gray" style="background-color: #{{ label.color }}"></span>
      </li>
      <li class="applicant-labels__add" apl-click-outside="dropdown.open = false">
        <a href="" class="applicant-labels__add__link"
            ng-class="{ 'is-dropdown-open':dropdown.open }"
            ng-click="dropdown.open = !dropdown.open"><i class="icon icon-plus"></i></a>

        <div class="application__sidebar__assign-labels__popup" ng-show="dropdown.open">
          <ul class="application__sidebar__assign-labels__list">
            <li class="application__sidebar__assign-labels__item"
                ng-class="{ 'is-set':isLabelOnCitizen(label) }"
                ng-repeat="label in entityLabels">
              <a
                  class="application__sidebar__assign-labels__link"
                  href=""
                  ng-click="toggleLabelOnCitizen(label)">
                <span class="label-ring" style="background-color: #{{ label.color }};"></span>
                <span class="name">{{ label.name }}</span>
                <i class="icon icon-check" ng-if="isLabelOnCitizen(label)"></i>
              </a>
            </li>
          </ul>
        </div>

      </li>
    </ul>
  </li>
  <li class="unit--1of2 right">
    <ul class="application__actions__rating applicant-rating">
      <li class="applicant-rating__item is-settable"
          ng-repeat="ratingOption in ratingOptions"
          ng-class="{ 'is-active':ratingOption.active, 'is-set':ratingOption.set }"
          ng-click="setRatingOption(ratingOption)"
          ng-mouseover="mouseoverRatingOption(ratingOption)"
          ng-mouseleave="mouseleaveRatingOption(ratingOption)">
        <i class="icon-star-5"></i>
      </li>
    </ul>
    <a href="{{ apiHost }}/applications/{{ application.id }}.pdf?api_key={{ apiKey }}" class="application__actions__btn--save-as-pdf" target="_blank"
        apl-tooltip="Export to PDF">
      <svg class="icon--download">
        <use xlink:href="#download-document" />
      </svg>
    </a>
  </li>
</ul>

<ol class="application__fields">
  <li class="application__fields__item"
      ng-repeat="field in fields">

    <div class="application__fields__item__container"
        ng-switch="field.datum.definition.type">
      <apl-field-address
          class="field--address"
          ng-switch-when="address" apl-field="field"></apl-field-address>
      <apl-field-fileupload
          class="field--fileupload"
          ng-switch-when="fileupload" apl-field="field"></apl-field-fileupload>
      <apl-field-rating
          class="field--rating"
          ng-switch-when="rating" apl-field="field"></apl-field-rating>
      <apl-field-name
          class="field--name"
          ng-switch-when="name" apl-field="field"></apl-field-name>
      <apl-field-education
          class="field--education"
          ng-switch-when="education" apl-field="field"></apl-field-education>
      <apl-field-workexperience
          class="field--workexperience"
          ng-switch-when="workexperience" apl-field="field"></apl-field-workexperience>
      <apl-field-reference
          class="field--reference"
          ng-switch-when="reference" apl-field="field"></apl-field-reference>
      <apl-field-hourlyavailability
          class="field--hourlyavailability"
          ng-switch-when="hourlyavailability" apl-field="field"></apl-field-hourlyavailability>
      <apl-field-textentries
          class="field--textentries"
          ng-if="['socialsecuritynumber', 'shorttext', 'longtext', 'website', 'email', 'date', 'phonenumber'].indexOf(field.datum.definition.type) !== -1"
          apl-field="field"></apl-field-textentries>
      <apl-field-choices
          class="field--choices"
          ng-if="['multiplechoice', 'yesno', 'legal', 'dropdown'].indexOf(field.datum.definition.type) !== -1"
          apl-field="field"></apl-field-choices>
    </div>

  </li>
</ol>
