<nav class="nav">
  <ul class="nav__list group">
    <li class="nav__item"
        ng-if="hasActiveFeature('applicantList')"
        ng-class="{ 'is-active':isActive('/entities/' + activeEntityId() + '/applications') }">
      <a href="entities/{{ activeEntityId() }}/applications"
         class="nav__link"
         apl-tooltip="Applicants"
         apl-tooltip-attachment="middle left"
         apl-tooltip-target-attachment="middle right">
        <svg class="icon">
          <use xlink:href="#applicants" />
        </svg>
        <span class="label">Applicants</span>
      </a>
    </li>
    <li class="nav__item"
        ng-class="{ 'is-active':isActive('/entities/' + activeEntityId() + '/spots') }">
      <a href="entities/{{ activeEntityId() }}/spots"
         class="nav__link"
         apl-tooltip="Spots"
         apl-tooltip-attachment="middle left"
         apl-tooltip-target-attachment="middle right">
        <svg class="icon">
          <use xlink:href="#spots" />
        </svg>
        <span class="label">Spots</span>
      </a>
    </li>
    <li class="nav__item"
        ng-class="{ 'is-active':inSettings }"
        ng-if="isAdmin()">
      <a href="entities/{{ activeEntityId() }}/settings"
         class="nav__link"
         apl-tooltip="{{ isActiveEntityRoot() ? 'Company' : 'Location' }} Settings"
         apl-tooltip-attachment="middle left"
         apl-tooltip-target-attachment="middle right">
        <svg class="icon">
          <use xlink:href="#settings" />
        </svg>
        <span class="label">{{ isActiveEntityRoot() ? 'Company' : 'Location' }} Settings</span>
      </a>
    </li>
  </ul>
</nav>
